body {
  font-family: 'Roboto Condensed';
}
.title-big {
  font-size: 50px;
  padding-bottom: 45px;
  margin: 0;
  color: #000;
  font-family: 'Anton';
}
.title-small {
  font-size: 20px;
  padding-bottom: 15px;
  margin: 0;
  color: #000;
  font-family: 'Anton';
}
.title-post {
  color: #fec20b;
  -webkit-transition: 300ms;
  transition: 300ms;
}
.title-post:hover {
  color: #3eb2cf;
  text-decoration: none;
  -webkit-transition: 300ms;
  transition: 300ms;
}
.page-title {
  font-size: 50px;
  margin: 0;
  color: #fff;
  font-family: 'Anton';
}
section {
  padding: 100px 0 100px 0;
}
.button-small {
  padding: 7px 12px;
  border-radius: 5px;
  display: inline-block;
  text-align: center;
  font-weight: bold;
}
.button-blue {
  color: #fff;
  background-color: #3eb2cf;
  -webkit-transition: 300ms;
  transition: 300ms;
  border: 2px solid #3eb2cf;
}
.button-blue:hover {
  color: #fff;
  background-color: #fec20b;
  -webkit-transition: 300ms;
  transition: 300ms;
  border: 2px solid #fec20b;
  text-decoration: none;
}
.button-yellow {
  color: #fff;
  background-color: #fec20b;
  -webkit-transition: 300ms;
  transition: 300ms;
  border: 2px solid #fec20b;
}
.button-yellow:hover {
  color: #fff;
  background-color: #3eb2cf;
  -webkit-transition: 300ms;
  transition: 300ms;
  border: 2px solid #3eb2cf;
  text-decoration: none;
}
.button-transparent-v1 {
  color: #fec20b;
  background-color: transparent;
  -webkit-transition: 300ms;
  transition: 300ms;
  border: 2px solid #fec20b;
}
.button-transparent-v1:hover {
  color: #fff;
  background-color: #3eb2cf;
  -webkit-transition: 300ms;
  transition: 300ms;
  text-decoration: none;
  border: 2px solid #3eb2cf;
}
.button-transparent-v2 {
  color: #3eb2cf;
  background-color: transparent;
  -webkit-transition: 300ms;
  transition: 300ms;
  border: 2px solid #3eb2cf;
}
.button-transparent-v2:hover {
  color: #fff;
  background-color: #3eb2cf;
  -webkit-transition: 300ms;
  transition: 300ms;
  text-decoration: none;
  border: 2px solid #3eb2cf;
}
.button-white {
  color: #fec20b;
  background-color: #fff;
  -webkit-transition: 300ms;
  transition: 300ms;
  border: 2px solid #fff;
}
.button-white:hover {
  color: #fff;
  background-color: #fec20b;
  -webkit-transition: 300ms;
  transition: 300ms;
  text-decoration: none;
  border: 2px solid #fec20b;
}
.button-white-v2 {
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
  -webkit-transition: 300ms;
  transition: 300ms;
}
.button-white-v2:hover {
  color: #000;
  background-color: #fff;
  border: 2px solid #fff;
  -webkit-transition: 300ms;
  transition: 300ms;
  text-decoration: none;
}
.line {
  width: 80%;
}
.item {
  -webkit-perspective: 1px;
  perspective: 1px;
  height: 100vh;
  background-size: cover;
}
.carousel-info {
  margin-top: 200px;
  text-align: center;
}
.content-carousel {
  padding-bottom: 20px;
  font-size: 16px;
}
.carousel-nav {
  display: inline-block;
  margin: auto;
  width: 100%;
}
.button-block {
  padding: 5px 15px 5px 0;
  display: inline-block;
  margin: auto;
}
.button {
  padding: 15px 27px;
  border-radius: 30px;
  display: inline-block;
  text-align: center;
  font-weight: bold;
}
.carousel-indicators li {
  border: 2px solid #fec20b;
  -webkit-transition: 300ms;
  transition: 300ms;
}
.carousel-indicators li:hover {
  background-color: #fec20b;
  -webkit-transition: 300ms;
  transition: 300ms;
}
.carousel-indicators .active {
  background-color: #fec20b;
}
header {
  width: 100%;
  background-color: transparent;
  position: absolute;
  top: 0;
  overflow: hidden;
  z-index: 1;
  -webkit-transition: 300ms;
  transition: 300ms;
}
.top-header-block {
  height: 40px;
  border-bottom: 1px solid #fff;
}
.top-header-block .fa {
  color: #3eb2cf;
}
.top-header-block .top-contact {
  line-height: 40px;
  background-color: transparent;
  font-size: 1.8vh;
}
.top-header-block .top-contact span {
  padding-left: 5px;
  padding-right: 20px;
}
.top-header-block .top-sign {
  font-size: 2vh;
  line-height: 40px;
  text-align: right;
}
.top-header-block .top-sign .fa {
  color: #000;
}
.top-header-block .top-sign a {
  -webkit-transition: 300ms;
  transition: 300ms;
  color: #000;
  padding-left: 10px;
  padding-right: 10px;
}
.top-header-block .top-sign a:hover {
  -webkit-transition: 300ms;
  transition: 300ms;
  color: #fec20b;
  text-decoration: none;
}
.brand {
  width: 20%;
  float: left;
}
.img-brand {
  width: 70px;
  height: 70px;
}
.sticky-header {
  background-color: #fff;
  position: fixed;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.18);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.18);
  -webkit-transition: 100ms;
  transition: 100ms;
  z-index: 20;
}
.sticky-header .top-header-block {
  display: none;
}
.sticky-header .brand {
  display: none;
}
.sticky-header .menu {
  text-align: center;
  width: 100%;
}
.sticky-header .menu li {
  margin: 10px 15px 10px 15px;
}
.menu {
  text-align: right;
  font-size: 16px;
  width: 80%;
  float: left;
}
.menu ul {
  list-style-type: none;
}
.menu li {
  display: inline-block;
  margin: 25px 15px 0 15px;
}
.menu li:last-child {
  margin-right: 0;
}
.menu a {
  color: #000;
  -webkit-transition: 300ms;
  transition: 300ms;
}
.menu a:hover {
  color: #fec20b;
  -webkit-transition: 300ms;
  transition: 300ms;
}
.mobile-block {
  position: fixed;
  width: 300px;
  background-color: #3eb2cf;
  height: 100%;
  top: 0;
  right: -300px;
  -webkit-transition: right 1000ms;
  transition: right 1000ms;
  z-index: 2;
  padding: 0;
  overflow: auto;
  padding: 50px 0 50px 0;
}
.mobile-block button {
  border: none;
  outline: none;
  background-color: transparent;
  color: #000;
  -webkit-transition: 300ms;
  transition: 300ms;
  padding: 10px;
}
.mobile-block button:hover {
  color: #fec20b;
  -webkit-transition: 300ms;
  transition: 300ms;
}
.mobile-block .mobile-brand-block img {
  margin: auto;
  width: 50px;
  height: 50px;
}
.mobile-block .mobile-menu ul {
  list-style-type: none;
  padding: 0;
}
.mobile-block .mobile-menu ul .menu-item a {
  display: block;
  padding: 10px 10px 10px 30px;
  border-bottom: 1px solid #318CA3;
  color: #318CA3;
}
.mobile-block .mobile-menu ul .menu-item a:hover {
  background-color: #318CA3;
  color: #3eb2cf;
  text-decoration: none;
}
.mobile-menu-check {
  display: none;
}
.mobile-menu-check:checked ~ .button-menu {
  right: 275px;
}
.mobile-menu-check:checked ~ .mobile-block {
  right: 0;
}
.button-menu {
  border: none;
  background-color: transparent;
  position: fixed;
  top: 5px;
  right: 20px;
  cursor: pointer;
  -webkit-transition: right 1000ms;
  transition: right 1000ms;
  z-index: 3;
}
.button-menu:after {
  font-family: FontAwesome;
  position: absolute;
  top: 0;
  right: 0;
  content: "\f0c9";
  font-size: 20px;
  color: #000;
  opacity: 0.5;
}
input[type=checkbox]:checked ~ .button-menu:after {
  font-family: FontAwesome;
  position: absolute;
  top: 0;
  right: 0;
  color: #000;
  content: "\f054";
  opacity: 0.5;
}
input[type=checkbox]:checked ~ .button-pull:after {
  padding: 4px 11px 5px 4px;
  position: absolute;
  top: 0;
  right: 0;
}
.searchbox {
  position: relative;
  min-width: 50px;
  width: 0%;
  height: 40px;
  overflow: hidden;
  -webkit-transition: width 1000ms;
  transition: width 1000ms;
  float: right;
}
.searchbox-input {
  top: 0;
  right: 0;
  border: 0;
  outline: 0;
  background-color: transparent;
  width: 100%;
  margin: 0;
  padding: 0px 55px 0px 20px;
  font-size: 20px;
  color: #3eb2cf;
  height: 40px;
}
.searchbox-input::-webkit-input-placeholder {
  color: #3eb2cf;
}
.searchbox-input:-moz-placeholder {
  color: #3eb2cf;
}
.searchbox-input::-moz-placeholder {
  color: #3eb2cf;
}
.searchbox-input:-ms-input-placeholder {
  color: #3eb2cf;
}
.searchbox-icon {
  width: 50px;
  position: absolute;
  top: 0;
  font-size: 18px;
  right: 0;
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  color: #000;
  background-color: transparent;
  -webkit-transition: 300ms;
  transition: 300ms;
  font-family: FontAwesome;
}
.searchbox-icon:hover .fa {
  color: #fec20b;
  -webkit-transition: 300ms;
  transition: 300ms;
}
.searchbox-submit {
  width: 50px;
  position: absolute;
  top: 0;
  font-size: 18px;
  right: 0;
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  color: #000;
  background-color: transparent;
  -webkit-transition: 300ms;
  transition: 300ms;
  font-family: FontAwesome;
}
.searchbox-submit:hover .fa {
  color: #fec20b;
  -webkit-transition: 300ms;
  transition: 300ms;
}
.searchbox-open {
  width: 100%;
  height: 40px;
  background-color: #fff;
  opacity: 0.8;
}
.pull-panel {
  position: fixed;
  width: 300px;
  background-color: #fff;
  height: 420px;
  bottom: -520px;
  right: 80px;
  -webkit-transition: bottom 1000ms;
  transition: bottom 1000ms;
  z-index: 2;
  padding: 0;
  overflow: auto;
  border-radius: 8px 8px 0 0;
}
.header-pull-panel {
  background-color: #3eb2cf;
  color: #fff;
  padding: 10px 20px;
}
.header-pull-panel label {
  float: right;
  cursor: pointer;
  -webkit-transition: 300ms;
  transition: 300ms;
}
.header-pull-panel label:hover {
  margin-top: 2px;
  -webkit-transition: 300ms;
  transition: 300ms;
  opacity: 0.8;
}
.pull-panel-content {
  padding: 5px 10px;
}
.pull-panel-content h4 {
  font-size: 14px;
}
.pull-panel-content form {
  height: 230px;
}
.pull-panel-content input {
  width: 100%;
  margin-top: 10px;
}
.pull-panel-content textarea {
  width: 100%;
  margin-top: 10px;
  border: 1px solid #888888;
  padding: 10px;
  height: 100px;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-box-shadow: none;
  box-shadow: none;
  resize: none;
  outline: none;
}
.pull-panel-content textarea:focus {
  border: 1px solid #3eb2cf;
}
.pull-panel-content textarea:focus + label:before {
  color: #3eb2cf;
  background: #fff;
  line-height: 1;
  -webkit-transform: translateY(calc(-23px)) scale(0.8, 0.8);
  transform: translateY(calc(-23px)) scale(0.8, 0.8);
}
.pull-panel-content textarea:active {
  border: 1px solid #3eb2cf;
}
.pull-panel-content textarea:active + label:before {
  color: #3eb2cf;
}
.pull-panel-content textarea + label {
  display: block;
  margin-top: calc(-90px);
  margin-bottom: 0px;
  pointer-events: none;
}
.pull-panel-content textarea + label:before {
  content: 'You Massage';
  display: inline-block;
  color: #888888;
  margin: 0 calc(10px);
  white-space: nowrap;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-delay: 0;
  transition-delay: 0;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -webkit-transform-origin: left center;
  transform-origin: left center;
}
.pull-panel-content textarea:valid {
  border: 1px solid #3eb2cf;
}
.pull-panel-content textarea:valid + label:before {
  background: #fff;
  line-height: 1;
  -webkit-transform: translateY(calc(-23px)) scale(0.8, 0.8);
  transform: translateY(calc(-23px)) scale(0.8, 0.8);
  content: 'You Massage';
  color: #3eb2cf;
}
.pull-panel-content input[type='email'] {
  background-color: #fff;
  padding: 10px;
  border: 1px solid #888888;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
}
.pull-panel-content input[type='email']:focus {
  border: 1px solid #3eb2cf;
}
.pull-panel-content input[type='email']:focus + label:before {
  color: #3eb2cf;
  background: #fff;
  line-height: 1;
  -webkit-transform: translateY(calc(-23px)) scale(0.8, 0.8);
  transform: translateY(calc(-23px)) scale(0.8, 0.8);
}
.pull-panel-content input[type='email']:active {
  border: 1px solid #3eb2cf;
}
.pull-panel-content input[type='email']:active + label:before {
  color: #3eb2cf;
}
.pull-panel-content input[type='email'] + label {
  display: block;
  margin-top: calc(-30px);
  margin-bottom: 10px;
  pointer-events: none;
}
.pull-panel-content input[type='email'] + label:before {
  display: inline-block;
  color: #888888;
  margin: 0 calc(10px);
  white-space: nowrap;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-delay: 0;
  transition-delay: 0;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -webkit-transform-origin: left center;
  transform-origin: left center;
  content: 'You Email';
}
.pull-panel-content input[type='email']:valid {
  border: 1px solid #3eb2cf;
}
.pull-panel-content input[type='email']:valid + label:before {
  background: #fff;
  line-height: 1;
  -webkit-transform: translateY(calc(-23px)) scale(0.8, 0.8);
  transform: translateY(calc(-23px)) scale(0.8, 0.8);
  color: #3eb2cf;
  content: 'You Email';
}
.pull-panel-content input[type='text'] {
  background-color: #fff;
  padding: 10px;
  border: 1px solid #888888;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
}
.pull-panel-content input[type='text']:focus {
  border: 1px solid #3eb2cf;
}
.pull-panel-content input[type='text']:focus + label:before {
  color: #3eb2cf;
  background: #fff;
  line-height: 1;
  -webkit-transform: translateY(calc(-23px)) scale(0.8, 0.8);
  transform: translateY(calc(-23px)) scale(0.8, 0.8);
}
.pull-panel-content input[type='text']:active {
  border: 1px solid #3eb2cf;
}
.pull-panel-content input[type='text']:active + label:before {
  color: #3eb2cf;
}
.pull-panel-content input[type='text'] + label {
  display: block;
  margin-top: calc(-30px);
  margin-bottom: 10px;
  pointer-events: none;
}
.pull-panel-content input[type='text'] + label:before {
  display: inline-block;
  color: #888888;
  margin: 0 calc(10px);
  white-space: nowrap;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-delay: 0;
  transition-delay: 0;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -webkit-transform-origin: left center;
  transform-origin: left center;
  content: 'You Name';
}
.pull-panel-content input[type='text']:valid {
  border: 1px solid #3eb2cf;
}
.pull-panel-content input[type='text']:valid + label:before {
  background: #fff;
  line-height: 1;
  -webkit-transform: translateY(calc(-23px)) scale(0.8, 0.8);
  transform: translateY(calc(-23px)) scale(0.8, 0.8);
  color: #3eb2cf;
  content: 'You Name';
}
.pull-panel-content input[type='email'].active + label:before {
  background: #fff;
  line-height: 1;
  -webkit-transform: translateY(calc(-23px)) scale(0.8, 0.8);
  transform: translateY(calc(-23px)) scale(0.8, 0.8);
}
.pull-panel-content input[type='text'].active + label:before {
  background: #fff;
  line-height: 1;
  -webkit-transform: translateY(calc(-23px)) scale(0.8, 0.8);
  transform: translateY(calc(-23px)) scale(0.8, 0.8);
}
.pull-panel-content textarea.active + label:before {
  background: #fff;
  line-height: 1;
  -webkit-transform: translateY(calc(-23px)) scale(0.8, 0.8);
  transform: translateY(calc(-23px)) scale(0.8, 0.8);
}
.pull-panel-content button {
  width: 100%;
}
.pull-panel-check {
  display: none;
}
.pull-panel-check:checked ~ .button-pull {
  bottom: -100px;
}
.pull-panel-check:checked ~ .pull-panel {
  bottom: 0;
}
.button-pull {
  background-color: #3eb2cf;
  color: #fff;
  position: fixed;
  bottom: 0;
  right: 80px;
  cursor: pointer;
  -webkit-transition: bottom 1000ms;
  transition: bottom 1000ms;
  z-index: 3;
  margin: 0;
  border-radius: 8px 8px 0 0;
  padding: 10px 20px;
  display: table-cell;
  -webkit-transition: 1000ms;
  transition: 1000ms;
}
.button-pull .fa {
  vertical-align: middle;
}
.button-pull span {
  vertical-align: middle;
  margin-left: 12px;
}
.button-pull:hover {
  -webkit-box-shadow: 0 3px 15px 0 #000;
  box-shadow: 0 3px 15px 0 #000;
  -webkit-transition: 1000ms;
  transition: 1000ms;
}
.button-pull:after {
  position: absolute;
  top: 0;
  right: 0;
}
.button-top {
  background-color: #3eb2cf;
  position: fixed;
  bottom: 10px;
  right: 20px;
  cursor: pointer;
  display: none;
  color: #fff;
  font-size: 25px;
  line-height: 32px;
  width: 36px;
  text-align: center;
  border-radius: 50%;
  z-index: 4;
  -webkit-transition: 300ms;
  transition: 300ms;
}
.button-top:hover {
  background-color: #fec20b;
  -webkit-transition: 300ms;
  transition: 300ms;
}
.section-about h2 {
  color: #3eb2cf;
}
.section-about .content-block p {
  color: #888888;
  padding-bottom: 20px;
}
.section-about .button {
  width: 50%;
  margin-bottom: 10px;
}
.video-block button {
  padding: 0;
  border: none;
}
.video-block button:hover .img-icon-youtube {
  width: 110px;
  height: 110px;
  -webkit-transition: 300ms;
  transition: 300ms;
}
.img-icon-youtube {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.modal-dialog {
  position: relative;
  width: 800px;
}
.modal-video {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1050;
  left: 0;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}
.modal-body-video {
  position: relative;
}
.close-video {
  position: fixed;
  top: 10px;
  right: 10px;
  color: #fff;
  padding: 0;
  cursor: pointer;
  background: 0 0;
  border: 0;
}
.close-video:hover {
  -webkit-transform: rotate(1turn);
  transform: rotate(1turn);
  -webkit-transition: 1000ms;
  transition: 1000ms;
}
.modal-backdrop {
  background-color: #000;
  opacity: 0.7 !important;
  -webkit-filter: blur(5px);
  filter: blur(5px);
}
.our-program {
  background-color: #3eb2cf;
}
.our-program h2 {
  color: #fff;
  text-align: center;
}
.our-program p {
  color: #fff;
  text-align: center;
  padding-bottom: 45px;
}
.blocks-program {
  margin-left: 5px;
  margin-right: 5px;
}
.blocks-program img {
  width: 100%;
}
.blocks-program .button {
  margin-top: 45px;
}
.blocks-program a {
  color: #fec20b;
  -webkit-transition: 300ms;
  transition: 300ms;
}
.blocks-program a:hover {
  color: #3eb2cf;
  -webkit-transition: 300ms;
  transition: 300ms;
  text-decoration: none;
}
.content-block-program {
  background-color: #fff;
  padding: 20px 20px 0 20px;
}
.content-block-program .date-program {
  font-style: italic;
  color: #888888;
  text-align: left;
  padding: 0;
}
.content-block-program .author-program {
  color: #000;
  text-align: left;
}
.features h2 {
  color: #3eb2cf;
  text-align: center;
}
.features p {
  text-align: center;
  color: #888888;
  padding-bottom: 45px;
}
.features-item {
  text-align: center;
}
.features-item div {
  display: inline-block;
  text-align: left;
}
.features-item .fa {
  color: #3eb2cf;
  padding-right: 15px;
}
.features-item span {
  font-size: 30px;
  color: #fec20b;
  font-weight: bold;
}
.features-item p {
  font-weight: bold;
  font-size: 18px;
  color: #000;
}
.events {
  background-color: #F5F7FA;
}
.events h2 {
  color: #3eb2cf;
  text-align: center;
}
.block-event {
  padding-bottom: 30px;
}
.content-block-event {
  text-align: center;
  background-color: #fff;
}
.content-block-event img {
  width: 100%;
}
.content-block-event .date-event {
  color: #fff;
  background-color: #3eb2cf;
}
.content-block-event .date-event .day {
  font-weight: bold;
  font-size: 30px;
}
.content-block-event .date-event .mounth {
  font-size: 14px;
}
.content-block-event .date-event .time {
  font-weight: bold;
}
.content-block-event h4 a {
  color: #fec20b;
  -webkit-transition: 300ms;
  transition: 300ms;
  font-weight: bold;
}
.content-block-event h4 a:hover {
  color: #3eb2cf;
  text-decoration: none;
  -webkit-transition: 300ms;
  transition: 300ms;
}
.content-block-event .author-event a {
  color: #888888;
  -webkit-transition: 300ms;
  transition: 300ms;
  font-weight: normal;
}
.content-block-event .author-event a:hover {
  color: #3eb2cf;
  -webkit-transition: 300ms;
  transition: 300ms;
  text-decoration: none;
}
.img-event-block {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  -webkit-transition: 300ms;
  transition: 300ms;
}
.img-event-block:hover {
  opacity: 0.5;
  background-color: #3eb2cf;
}
.img-event {
  position: relative;
}
.img-event .button-event {
  z-index: 100;
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.img-event:hover .button-event {
  opacity: 1;
}
.img-event:hover .img-event-block {
  opacity: 0.5;
  background-color: #3eb2cf;
}
.say-us {
  position: relative;
  background-color: transparent;
  background-image: url(../images/bg-say.jpg);
}
.say-us button {
  position: absolute;
  border: none;
  outline: none;
  background-color: transparent;
}
.say-us button .fa {
  color: #fff;
  opacity: 0.3;
}
.say-us button:hover {
  opacity: 0.8;
}
.say-us .next {
  top: 50%;
  right: 5%;
}
.say-us .prev {
  top: 50%;
  left: 5%;
}
.say-us-block {
  padding: 0 150px 0 150px;
  text-align: center;
}
.say-us-block p {
  color: #fff;
  font-size: 22px;
  font-style: italic;
}
.say-us-block h4 {
  color: #fff;
  font-weight: bold;
}
.gallery {
  padding: 0;
}
.gallery .slick-prev {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  padding: 0;
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}
.gallery .slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  padding: 0;
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}
.gallery img {
  width: 100%;
}
.gallery-block-img {
  position: relative;
  width: 100%;
  height: 250px;
}
.view {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  opacity: 0;
  -webkit-transition: 500ms;
  transition: 500ms;
}
.view:hover {
  opacity: 0.5;
}
.view:hover:before {
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  -webkit-transition: 800ms;
  transition: 800ms;
}
.view:hover:after {
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  -webkit-transition: 800ms;
  transition: 800ms;
}
.view:hover .view-icon {
  top: 50%;
  opacity: 1;
}
.view:hover .caption-gallery {
  top: 60%;
  opacity: 1;
}
.view:before {
  position: absolute;
  content: "";
  top: 10px;
  left: 50%;
  right: 50%;
  bottom: 10px;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  -webkit-transition: 800ms;
  transition: 800ms;
}
.view:after {
  position: absolute;
  content: "";
  top: 50%;
  left: 10px;
  right: 10px;
  bottom: 50%;
  border-right: 2px solid #fff;
  border-left: 2px solid #fff;
  -webkit-transition: 800ms;
  transition: 800ms;
}
.view-icon {
  position: absolute;
  left: 50%;
  top: 100%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 5vh;
  color: #fff;
  -webkit-transition: 800ms all ease;
  transition: 800ms all ease;
  z-index: 2;
}
.caption-gallery {
  position: absolute;
  left: 50%;
  top: 100%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 2vh;
  color: #fff;
  -webkit-transition: 800ms all ease;
  transition: 800ms all ease;
  z-index: 2;
}
.sl-overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #000;
  opacity: 0.7;
  display: none;
  z-index: 1050;
}
.sl-wrapper .sl-close {
  color: #fff;
}
.sl-wrapper .sl-counter {
  color: #fff;
}
.sl-wrapper .sl-navigation button {
  color: #fff;
}
.maps {
  padding: 0;
}
.maps .no-scroll-maps {
  background: transparent;
  position: relative;
  width: 100%;
  height: 450px;
  top: 450px;
  margin-top: -450px;
}
.maps iframe {
  width: 100%;
  height: 450px;
  border: 0;
}
.maps h2 {
  display: none;
}
footer {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}
footer .fa {
  color: #3eb2cf;
  padding-bottom: 20px;
}
footer p {
  color: #000;
  font-size: 18px;
  padding-bottom: 45px;
}
footer .social-icon .fa {
  border-radius: 50%;
  width: 50px;
  margin: 0 20px 0 20px;
  padding: 10px;
  color: #888888;
  background-color: #e5e5e5;
  -webkit-transition: 300ms;
  transition: 300ms;
}
footer .social-icon .fa:hover {
  -webkit-transition: 300ms;
  transition: 300ms;
  color: #fff;
}
footer .social-icon .fa-facebook:hover {
  background-color: #395b98;
}
footer .social-icon .fa-twitter:hover {
  background-color: #2ca7e0;
}
footer .social-icon .fa-google:hover {
  background: #d95139;
}
footer .social-icon .fa-instagram:hover {
  background-image: linear-gradient(-45deg, #ffdc80, #e1306c 50%, #405de6);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFDC80', endColorstr='#FF405DE6', GradientType=1);
}
footer .social-icon a:hover {
  text-decoration: none;
}
footer .copy {
  padding: 45px 0 0 0;
  font-size: 14px;
}
@media (max-width: 992px) {
  .title-big {
    font-size: 30px;
  }
  .carousel-info {
    text-align: center;
    margin-top: 150px;
  }
  .menu {
    display: none;
  }
  .brand {
    display: none;
  }
  .top-header-block {
    display: none;
  }
  header {
    padding: 0;
  }
  .section-about {
    text-align: center;
  }
  .blocks-program {
    max-width: 50%;
  }
  .features-item div {
    display: block;
    text-align: center;
  }
  .features-item .fa {
    padding: 0 0 20px 0;
  }
  .say-us .next {
    top: 80%;
    right: 5%;
  }
  .say-us .prev {
    top: 80%;
    left: 5%;
  }
  .say-us-block {
    padding: 0;
  }
}
@media (min-width: 992px) {
  .button-menu {
    display: none;
  }
  .mobile-block {
    display: none;
  }
}
/* page news */
.bread {
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 120px;
  background-color: #fec20b;
  text-align: center;
}
.bread h1 {
  padding-bottom: 35px;
}
.bread ul {
  list-style-type: none;
  padding: 0;
}
.bread li {
  display: inline-block;
}
.bread li::before {
  content: "/";
  padding-right: 5px;
  opacity: 0.5;
  color: #fff;
}
.bread li:first-child::before {
  display: none;
}
.bread a {
  color: #fff;
}
.bread .active {
  color: #fff;
  opacity: 0.5;
}
.news {
  background-color: #F5F7FA;
}
.news-block {
  margin-bottom: 20px;
  background-color: #fff;
}
.content-news-block {
  padding: 20px;
}
.content-news-block p {
  color: #888888;
  padding-bottom: 20px;
}
.info-news-block {
  padding-bottom: 30px;
  text-align: center;
}
.info-news-block .fa {
  color: #3eb2cf;
  padding-right: 10px;
}
.info-news-block span {
  font-style: italic;
}
.info-news-block .author-news {
  color: #fec20b;
}
@media (max-width: 992px) {
  .news-block {
    text-align: center;
  }
}
.pagination-block {
  text-align: center;
}
.pagination-block ul .disabled span {
  background-color: #fff;
  border: 1px solid #3eb2cf;
  color: #3eb2cf;
  -webkit-transition: 300ms;
  transition: 300ms;
}
.pagination-block ul .disabled span:hover {
  background-color: #fff;
  border: 1px solid #3eb2cf;
  color: #3eb2cf;
  -webkit-transition: 300ms;
  transition: 300ms;
}
.pagination-block ul .active span {
  background-color: #fec20b;
  border: 1px solid #fec20b;
  -webkit-transition: 300ms;
  transition: 300ms;
}
.pagination-block ul .active span:hover {
  background-color: #fec20b;
  border: 1px solid #fec20b;
  -webkit-transition: 300ms;
  transition: 300ms;
}
.pagination-block ul a {
  background-color: #fff;
  border: 1px solid #3eb2cf;
  color: #3eb2cf;
  -webkit-transition: 300ms;
  transition: 300ms;
}
.pagination-block ul a:hover {
  background-color: #fec20b;
  border: 1px solid #fec20b;
  color: #fff;
  -webkit-transition: 300ms;
  transition: 300ms;
}
.side-bar {
  padding-left: 20px;
}
.categories {
  padding-bottom: 30px;
}
.categories h4 {
  border-bottom: 1px solid #000;
}
.categories ul {
  list-style-type: none;
  padding: 10px 0;
}
.categories li {
  padding-top: 5px;
  padding-bottom: 5px;
}
.categories .fa {
  padding-right: 20px;
}
.categories a {
  color: #fec20b;
  -webkit-transition: 300ms;
  transition: 300ms;
}
.categories a:hover {
  color: #3eb2cf;
  text-decoration: none;
  -webkit-transition: 300ms;
  transition: 300ms;
}
.categories a:hover .fa {
  color: #fec20b;
  -webkit-transition: 300ms;
  transition: 300ms;
}
.archive-news {
  padding-bottom: 30px;
}
.archive-news h4 {
  border-bottom: 1px solid #000;
}
.archive-news ul {
  list-style-type: none;
  padding: 10px 0;
}
.archive-news li {
  padding-top: 5px;
  padding-bottom: 5px;
}
.archive-news .fa {
  padding-right: 20px;
}
.archive-news a {
  color: #fec20b;
  -webkit-transition: 300ms;
  transition: 300ms;
}
.archive-news a:hover {
  color: #3eb2cf;
  text-decoration: none;
  -webkit-transition: 300ms;
  transition: 300ms;
}
.archive-news a:hover .fa {
  color: #fec20b;
  -webkit-transition: 300ms;
  transition: 300ms;
}
/* single news */
.single-news {
  background-color: #F5F7FA;
}
.single-news p {
  color: #888888;
  padding-top: 20px;
  padding-bottom: 20px;
}
.info-single-block {
  padding-bottom: 30px;
  text-align: center;
}
.info-single-block .fa {
  color: #3eb2cf;
  padding-right: 10px;
}
.info-single-block span {
  font-style: italic;
}
.info-single-block .author-news {
  color: #fec20b;
}
/* 404 */
.header-404 {
  padding-top: 20px;
}
.header-404 img {
  width: 100px;
  height: 100px;
}
.content-404 {
  padding-top: 100px;
  padding-bottom: 50px;
  text-align: center;
}
.content-404 h2 {
  font-size: 200px;
  font-weight: bold;
  color: #888888;
}
.content-404 p {
  font-size: 50px;
  padding-bottom: 30px;
}
.footer-404 {
  padding: 0;
}
/* sign-in */
.sign-in {
  background-color: transparent;
}
.sign-in h2 {
  text-align: center;
}
.sign-in form {
  width: 420px;
  height: 230px;
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
}
.sign-in input {
  width: 400px;
  margin-top: 10px;
  border-radius: 5px;
}
.sign-in input[type='text'] {
  background-color: #fff;
  padding: 10px;
  border: 1px solid #888888;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
}
.sign-in input[type='text']:focus {
  border: 1px solid #3eb2cf;
}
.sign-in input[type='text']:focus + label:before {
  color: #3eb2cf;
  background: #fff;
  line-height: 1;
  -webkit-transform: translateY(calc(-23px)) scale(0.8, 0.8);
  transform: translateY(calc(-23px)) scale(0.8, 0.8);
}
.sign-in input[type='text']:active {
  border: 1px solid #3eb2cf;
}
.sign-in input[type='text']:active + label:before {
  color: #3eb2cf;
}
.sign-in input[type='text'] + label {
  display: block;
  margin-top: calc(-30px);
  margin-bottom: 10px;
  pointer-events: none;
}
.sign-in input[type='text'] + label:before {
  display: inline-block;
  color: #888888;
  margin: 0 calc(10px);
  white-space: nowrap;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-delay: 0;
  transition-delay: 0;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -webkit-transform-origin: left center;
  transform-origin: left center;
  content: 'You Login';
}
.sign-in input[type='text']:valid {
  border: 1px solid #3eb2cf;
}
.sign-in input[type='text']:valid + label:before {
  background: #fff;
  line-height: 1;
  -webkit-transform: translateY(calc(-23px)) scale(0.8, 0.8);
  transform: translateY(calc(-23px)) scale(0.8, 0.8);
  color: #3eb2cf;
  content: 'You Login';
}
.sign-in input[type='password'] {
  background-color: #fff;
  padding: 10px;
  border: 1px solid #888888;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
}
.sign-in input[type='password']:focus {
  border: 1px solid #3eb2cf;
}
.sign-in input[type='password']:focus + label:before {
  color: #3eb2cf;
  background: #fff;
  line-height: 1;
  -webkit-transform: translateY(calc(-23px)) scale(0.8, 0.8);
  transform: translateY(calc(-23px)) scale(0.8, 0.8);
}
.sign-in input[type='password']:active {
  border: 1px solid #3eb2cf;
}
.sign-in input[type='password']:active + label:before {
  color: #3eb2cf;
}
.sign-in input[type='password'] + label {
  display: block;
  margin-top: calc(-30px);
  margin-bottom: 10px;
  pointer-events: none;
}
.sign-in input[type='password'] + label:before {
  display: inline-block;
  color: #888888;
  margin: 0 calc(10px);
  white-space: nowrap;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-delay: 0;
  transition-delay: 0;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -webkit-transform-origin: left center;
  transform-origin: left center;
  content: 'You Password';
}
.sign-in input[type='password']:valid {
  border: 1px solid #3eb2cf;
}
.sign-in input[type='password']:valid + label:before {
  background: #fff;
  line-height: 1;
  -webkit-transform: translateY(calc(-23px)) scale(0.8, 0.8);
  transform: translateY(calc(-23px)) scale(0.8, 0.8);
  color: #3eb2cf;
  content: 'You Password';
}
.sign-in input[type='text'].active + label:before {
  background: #fff;
  line-height: 1;
  -webkit-transform: translateY(calc(-23px)) scale(0.8, 0.8);
  transform: translateY(calc(-23px)) scale(0.8, 0.8);
}
.sign-in input[type='password'].active + label:before {
  background: #fff;
  line-height: 1;
  -webkit-transform: translateY(calc(-23px)) scale(0.8, 0.8);
  transform: translateY(calc(-23px)) scale(0.8, 0.8);
}
.sign-in textarea.active + label:before {
  background: #fff;
  line-height: 1;
  -webkit-transform: translateY(calc(-23px)) scale(0.8, 0.8);
  transform: translateY(calc(-23px)) scale(0.8, 0.8);
}
.sign-in button {
  width: 100%;
  margin-top: 10px;
}
.sign-in p {
  padding-top: 10px;
  color: #888888;
}
/* sign up */
.sign-up {
  background-color: transparent;
}
.sign-up h2 {
  text-align: center;
}
.sign-up form {
  width: 420px;
  height: 230px;
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
}
.sign-up input {
  width: 400px;
  margin-top: 10px;
  border-radius: 5px;
}
.sign-up input[type='text'] {
  background-color: #fff;
  padding: 10px;
  border: 1px solid #888888;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
}
.sign-up input[type='text']:focus {
  border: 1px solid #3eb2cf;
}
.sign-up input[type='text']:focus + label:before {
  color: #3eb2cf;
  background: #fff;
  line-height: 1;
  -webkit-transform: translateY(calc(-23px)) scale(0.8, 0.8);
  transform: translateY(calc(-23px)) scale(0.8, 0.8);
}
.sign-up input[type='text']:active {
  border: 1px solid #3eb2cf;
}
.sign-up input[type='text']:active + label:before {
  color: #3eb2cf;
}
.sign-up input[type='text'] + label {
  display: block;
  margin-top: calc(-30px);
  margin-bottom: 10px;
  pointer-events: none;
}
.sign-up input[type='text'] + label:before {
  display: inline-block;
  color: #888888;
  margin: 0 calc(10px);
  white-space: nowrap;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-delay: 0;
  transition-delay: 0;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -webkit-transform-origin: left center;
  transform-origin: left center;
  content: 'You Name';
}
.sign-up input[type='text']:valid {
  border: 1px solid #3eb2cf;
}
.sign-up input[type='text']:valid + label:before {
  background: #fff;
  line-height: 1;
  -webkit-transform: translateY(calc(-23px)) scale(0.8, 0.8);
  transform: translateY(calc(-23px)) scale(0.8, 0.8);
  color: #3eb2cf;
  content: 'You Name';
}
.sign-up input[type='password'] {
  background-color: #fff;
  padding: 10px;
  border: 1px solid #888888;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
}
.sign-up input[type='password']:focus {
  border: 1px solid #3eb2cf;
}
.sign-up input[type='password']:focus + label:before {
  color: #3eb2cf;
  background: #fff;
  line-height: 1;
  -webkit-transform: translateY(calc(-23px)) scale(0.8, 0.8);
  transform: translateY(calc(-23px)) scale(0.8, 0.8);
}
.sign-up input[type='password']:active {
  border: 1px solid #3eb2cf;
}
.sign-up input[type='password']:active + label:before {
  color: #3eb2cf;
}
.sign-up input[type='password'] + label {
  display: block;
  margin-top: calc(-30px);
  margin-bottom: 10px;
  pointer-events: none;
}
.sign-up input[type='password'] + label:before {
  display: inline-block;
  color: #888888;
  margin: 0 calc(10px);
  white-space: nowrap;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-delay: 0;
  transition-delay: 0;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -webkit-transform-origin: left center;
  transform-origin: left center;
  content: 'You Password';
}
.sign-up input[type='password']:valid {
  border: 1px solid #3eb2cf;
}
.sign-up input[type='password']:valid + label:before {
  background: #fff;
  line-height: 1;
  -webkit-transform: translateY(calc(-23px)) scale(0.8, 0.8);
  transform: translateY(calc(-23px)) scale(0.8, 0.8);
  color: #3eb2cf;
  content: 'You Password';
}
.sign-up input[type='email'] {
  background-color: #fff;
  padding: 10px;
  border: 1px solid #888888;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
}
.sign-up input[type='email']:focus {
  border: 1px solid #3eb2cf;
}
.sign-up input[type='email']:focus + label:before {
  color: #3eb2cf;
  background: #fff;
  line-height: 1;
  -webkit-transform: translateY(calc(-23px)) scale(0.8, 0.8);
  transform: translateY(calc(-23px)) scale(0.8, 0.8);
}
.sign-up input[type='email']:active {
  border: 1px solid #3eb2cf;
}
.sign-up input[type='email']:active + label:before {
  color: #3eb2cf;
}
.sign-up input[type='email'] + label {
  display: block;
  margin-top: calc(-30px);
  margin-bottom: 10px;
  pointer-events: none;
}
.sign-up input[type='email'] + label:before {
  display: inline-block;
  color: #888888;
  margin: 0 calc(10px);
  white-space: nowrap;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-delay: 0;
  transition-delay: 0;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -webkit-transform-origin: left center;
  transform-origin: left center;
  content: 'You Email';
}
.sign-up input[type='email']:valid {
  border: 1px solid #3eb2cf;
}
.sign-up input[type='email']:valid + label:before {
  background: #fff;
  line-height: 1;
  -webkit-transform: translateY(calc(-23px)) scale(0.8, 0.8);
  transform: translateY(calc(-23px)) scale(0.8, 0.8);
  color: #3eb2cf;
  content: 'You Email';
}
.sign-up input[type='text'].active + label:before {
  background: #fff;
  line-height: 1;
  -webkit-transform: translateY(calc(-23px)) scale(0.8, 0.8);
  transform: translateY(calc(-23px)) scale(0.8, 0.8);
}
.sign-up input[type='password'].active + label:before {
  background: #fff;
  line-height: 1;
  -webkit-transform: translateY(calc(-23px)) scale(0.8, 0.8);
  transform: translateY(calc(-23px)) scale(0.8, 0.8);
}
.sign-up input[type='email'].active + label:before {
  background: #fff;
  line-height: 1;
  -webkit-transform: translateY(calc(-23px)) scale(0.8, 0.8);
  transform: translateY(calc(-23px)) scale(0.8, 0.8);
}
.sign-up button {
  width: 100%;
  margin-top: 10px;
}
.social-icon-sign .fa {
  border-radius: 50%;
  width: 35px;
  margin: 0 5px 0 5px;
  padding: 10px;
  color: #888888;
  background-color: #e5e5e5;
  -webkit-transition: 300ms;
  transition: 300ms;
}
.social-icon-sign .fa:hover {
  -webkit-transition: 300ms;
  transition: 300ms;
  color: #fff;
}
.social-icon-sign .fa-facebook:hover {
  background-color: #395b98;
}
.social-icon-sign .fa-twitter:hover {
  background-color: #2ca7e0;
}
.social-icon-sign .fa-google:hover {
  background: #d95139;
}
.social-icon-sign .fa-instagram:hover {
  background-image: linear-gradient(-45deg, #ffdc80, #e1306c 50%, #405de6);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFDC80', endColorstr='#FF405DE6', GradientType=1);
}
.social-icon-sign a:hover {
  text-decoration: none;
}
