.title-big {
  font-size: 50px;
  padding-bottom: 45px;
  margin: 0;
  color: #000;
}
@media (max-width: 992px) {
  .title-big {
    font-size: 30px;
  }
}
section {
  padding: 100px 0 100px 0;
}
.button-blue {
  color: #fff;
  background-color: #3eb2cf;
  -webkit-transition: 300ms;
  transition: 300ms;
  border: 2px solid #3eb2cf;
}
.button-blue:hover {
  color: #fff;
  background-color: #fec20b;
  -webkit-transition: 300ms;
  transition: 300ms;
  border: 2px solid #fec20b;
  text-decoration: none;
}
.button-transparent {
  color: #fec20b;
  background-color: transparent;
  -webkit-transition: 300ms;
  transition: 300ms;
  border: 2px solid #fec20b;
}
.button-transparent:hover {
  color: #fff;
  background-color: #3eb2cf;
  -webkit-transition: 300ms;
  transition: 300ms;
  text-decoration: none;
  border: 2px solid #3eb2cf;
}
.item {
  -webkit-perspective: 1px;
  perspective: 1px;
  height: 100vh;
  background-size: cover;
}
.carousel-info {
  text-align: left;
  margin-top: 200px;
  float: right;
}
@media (max-width: 992px) {
  .carousel-info {
    text-align: center;
    margin-top: 150px;
  }
}
.content-carousel {
  padding-bottom: 20px;
}
.carousel-nav {
  display: inline-block;
  margin: auto;
}
.button-block {
  padding: 5px 15px 5px 0;
  display: inline-block;
  margin: auto;
}
.button {
  padding: 15px 27px;
  border-radius: 30px;
  display: inline-block;
  text-align: center;
  font-weight: bold;
}
.carousel-indicators li {
  border: 2px solid #fec20b;
  -webkit-transition: 300ms;
  transition: 300ms;
}
.carousel-indicators li:hover {
  background-color: #fec20b;
  -webkit-transition: 300ms;
  transition: 300ms;
}
.carousel-indicators .active {
  background-color: #fec20b;
}
/* Header setting */
header {
  width: 100%;
  padding-top: 10px;
  background-color: transparent;
  position: absolute;
  top: 0;
  overflow: hidden;
  z-index: 1;
  -webkit-transition: 300ms;
  transition: 300ms;
}
.brand {
  width: 20%;
  float: left;
}
.img-brand {
  width: 70px;
  height: 70px;
}
.sticky-header {
  background-color: #fff;
  position: fixed;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.18);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.18);
  -webkit-transition: 300ms;
  transition: 300ms;
}
.sticky-header .brand {
  display: none;
}
.sticky-header .menu {
  text-align: center;
  width: 100%;
}
.sticky-header .menu li {
  margin: 10px 15px 10px 15px;
}
.menu {
  text-align: right;
  font-size: 16px;
  width: 80%;
  float: left;
}
.menu ul {
  list-style-type: none;
}
.menu li {
  display: inline-block;
  margin: 25px 15px 0 15px;
}
.menu li:last-child {
  margin-right: 0;
}
.menu a {
  color: #000;
  -webkit-transition: 300ms;
  transition: 300ms;
}
.menu a:hover {
  color: #fec20b;
  -webkit-transition: 300ms;
  transition: 300ms;
}
.pull-panel {
  position: fixed;
  width: 300px;
  background-color: #fff;
  height: 420px;
  bottom: -520px;
  right: 80px;
  -webkit-transition: bottom 1000ms;
  transition: bottom 1000ms;
  z-index: 2;
  padding: 0;
  overflow: auto;
  border-radius: 8px 8px 0 0;
}
.header-pull-panel {
  background-color: #3eb2cf;
  color: #fff;
  padding: 10px 20px;
}
.header-pull-panel label {
  float: right;
  cursor: pointer;
  -webkit-transition: 300ms;
  transition: 300ms;
}
.header-pull-panel label:hover {
  margin-top: 2px;
  -webkit-transition: 300ms;
  transition: 300ms;
  opacity: 0.8;
}
.pull-panel-content {
  padding: 5px 10px;
}
.pull-panel-content h4 {
  font-size: 14px;
}
.pull-panel-content form {
  height: 230px;
}
.pull-panel-content input,
.pull-panel-content textarea {
  width: 100%;
  margin-top: 10px;
}
.pull-panel-content input[type='email'],
.pull-panel-content input[type='text'] {
  background-color: #fff;
  padding: 10px;
  border: 1px solid #888888;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
}
.pull-panel-content input[type='email']:focus,
.pull-panel-content input[type='email']:active,
.pull-panel-content input[type='text']:focus,
.pull-panel-content input[type='text']:active {
  border: 1px solid #3eb2cf;
}
.pull-panel-content input[type='email']:focus + label:before,
.pull-panel-content input[type='email']:active + label:before,
.pull-panel-content input[type='text']:focus + label:before,
.pull-panel-content input[type='text']:active + label:before {
  color: #3eb2cf;
}
.pull-panel-content input[type='email'] + label,
.pull-panel-content input[type='text'] + label {
  display: block;
  margin-top: calc(-30px);
  margin-bottom: 10px;
  pointer-events: none;
}
.pull-panel-content input[type='email'] + label:before,
.pull-panel-content input[type='text'] + label:before {
  display: inline-block;
  color: #888888;
  margin: 0 calc(10px);
  white-space: nowrap;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-delay: 0;
  transition-delay: 0;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -webkit-transform-origin: left center;
  transform-origin: left center;
}
.pull-panel-content input[type='text'] + label:before {
  content: 'You Name';
}
.pull-panel-content input[type='email'] + label:before {
  content: 'You Email';
}
.pull-panel-content input[type='email']:focus + label:before,
.pull-panel-content input[type='email'].active + label:before,
.pull-panel-content input[type='email']:valid + label:before,
.pull-panel-content input[type='text']:focus + label:before,
.pull-panel-content input[type='text'].active + label:before,
.pull-panel-content input[type='text']:valid + label:before {
  background: #fff;
  line-height: 1;
  -webkit-transform: translateY(calc(-23px)) scale(0.8, 0.8);
  transform: translateY(calc(-23px)) scale(0.8, 0.8);
}
.pull-panel-content input[type='email']:valid,
.pull-panel-content input[type='text']:valid {
  border: 1px solid #3eb2cf;
}
.pull-panel-content input[type='email']:valid + label:before,
.pull-panel-content input[type='text']:valid + label:before {
  color: #3eb2cf;
}
.pull-panel-content input[type='text']:valid + label:before {
  content: 'You Name';
}
.pull-panel-content input[type='email']:valid + label:before {
  content: 'You Email';
}
.pull-panel-content textarea {
  border: 1px solid #888888;
  padding: 10px;
  height: 100px;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-box-shadow: none;
  box-shadow: none;
  resize: none;
  outline: none;
}
.pull-panel-content textarea:focus,
.pull-panel-content textarea:active {
  border: 1px solid #3eb2cf;
}
.pull-panel-content textarea:focus + label:before,
.pull-panel-content textarea:active + label:before {
  color: #3eb2cf;
}
.pull-panel-content textarea + label {
  display: block;
  margin-top: calc(-90px);
  margin-bottom: 0px;
  pointer-events: none;
}
.pull-panel-content textarea + label:before {
  content: 'You Massage';
  display: inline-block;
  color: #888888;
  margin: 0 calc(10px);
  white-space: nowrap;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-delay: 0;
  transition-delay: 0;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -webkit-transform-origin: left center;
  transform-origin: left center;
}
.pull-panel-content textarea:focus + label:before,
.pull-panel-content textarea.active + label:before,
.pull-panel-content textarea:valid + label:before {
  background: #fff;
  line-height: 1;
  -webkit-transform: translateY(calc(-23px)) scale(0.8, 0.8);
  transform: translateY(calc(-23px)) scale(0.8, 0.8);
}
.pull-panel-content textarea:valid {
  border: 1px solid #3eb2cf;
}
.pull-panel-content textarea:valid + label:before {
  content: 'You Massage';
  color: #3eb2cf;
}
.pull-panel-content button {
  width: 100%;
}
.pull-panel-check {
  display: none;
}
.button-pull {
  background-color: #3eb2cf;
  color: #fff;
  position: fixed;
  bottom: 0;
  right: 80px;
  cursor: pointer;
  -webkit-transition: bottom 1000ms;
  transition: bottom 1000ms;
  z-index: 3;
  margin: 0;
  border-radius: 8px 8px 0 0;
  padding: 10px 20px;
  display: table-cell;
  -webkit-transition: 1000ms;
  transition: 1000ms;
}
.button-pull .fa {
  vertical-align: middle;
}
.button-pull span {
  vertical-align: middle;
  margin-left: 12px;
}
.button-pull:hover {
  -webkit-box-shadow: 0 3px 15px 0 #000;
  box-shadow: 0 3px 15px 0 #000;
  -webkit-transition: 1000ms;
  transition: 1000ms;
}
.pull-panel-check:checked ~ .button-pull {
  bottom: -100px;
}
.pull-panel-check:checked ~ .pull-panel {
  bottom: 0;
}
.button-pull:after {
  position: absolute;
  top: 0;
  right: 0;
}
input[type=checkbox]:checked ~ .button-pull:after {
  padding: 4px 11px 5px 4px;
  position: absolute;
  top: 0;
  right: 0;
}
.button-top {
  background-color: #3eb2cf;
  position: fixed;
  bottom: 10px;
  right: 20px;
  cursor: pointer;
  display: none;
  color: #fff;
  font-size: 25px;
  line-height: 32px;
  width: 36px;
  text-align: center;
  border-radius: 50%;
  z-index: 4;
  -webkit-transition: 300ms;
  transition: 300ms;
}
.button-top:hover {
  background-color: #fec20b;
  -webkit-transition: 300ms;
  transition: 300ms;
}
.section-about h2 {
  font-size: 45px;
  color: #3eb2cf;
  font-weight: bold;
}
.section-about .content-block p {
  color: #888888;
  padding-bottom: 20px;
}
.section-about .content-block .button {
  color: #3eb2cf;
  background-color: transparent;
  -webkit-transition: 300ms;
  transition: 300ms;
  border: 2px solid #3eb2cf;
  width: 50%;
  margin-bottom: 10px;
}
.section-about .content-block .button:hover {
  color: #fff;
  background-color: #3eb2cf;
  -webkit-transition: 300ms;
  transition: 300ms;
  text-decoration: none;
  border: 2px solid #3eb2cf;
}
@media (max-width: 992px) {
  .section-about {
    text-align: center;
  }
}
.video-block button {
  padding: 0;
  border: none;
}
.img-icon-youtube {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.modal-dialog {
  position: relative;
  width: 800px;
}
.modal-video {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1050;
  left: 0;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}
.modal-body-video {
  position: relative;
}
.close-video {
  position: fixed;
  top: 10px;
  right: 10px;
  color: #fff;
  padding: 0;
  cursor: pointer;
  background: 0 0;
  border: 0;
}
.close-video:hover {
  -webkit-transform: rotate(1turn);
  transform: rotate(1turn);
  -webkit-transition: 1000ms;
  transition: 1000ms;
}
.modal-backdrop {
  background-color: #000;
  opacity: 0.7 !important;
  -webkit-filter: blur(5px);
  filter: blur(5px);
}
