@color_1: #000;
@color_2: #fff;
@color_3: #fec20b;
@color_4: #3eb2cf;
@color_5: #fec20b;
@color_6: #318CA3;
@color_7: #d74b4b;
@color_8: #888888;
@color_9: transparent;
@font_family_1: 'Roboto Condensed';
@font_family_2: 'Anton';
@font_family_3: FontAwesome;
@background_color_1: #3eb2cf;
@background_color_2: #fec20b;
@background_color_3: transparent;
@background_color_4: #fff;
@background_color_5: #318CA3;
@background_color_6: #000;
@background_color_7: #F5F7FA;
@background_color_8: #e5e5e5;
@background_color_9: #395b98;
@background_color_10: #2ca7e0;

body {
	font-family: @font_family_1;
}
.title-big {
	font-size: 50px;
	padding-bottom: 45px;
	margin: 0;
	color: @color_1;
	font-family: @font_family_2;
}
.title-small{
	font-size: 20px;
	padding-bottom: 15px;
	margin: 0;
	color: @color_1;
	font-family: @font_family_2;
}
.title-post{
	color: @color_3;
	transition: 300ms;
	&:hover{
	color: @color_4;
	text-decoration: none;
	transition: 300ms;
	}
}
.page-title {
	font-size: 50px;
	margin: 0;
	color: @color_2;
	font-family: @font_family_2;
}
section {
	padding: 100px 0 100px 0;
}
.button-small {
	padding: 7px 12px;
	border-radius: 5px;
	display: inline-block;
	text-align: center;
	font-weight: bold;
}
.button-blue {
	color: @color_2;
	background-color: @background_color_1;
	-webkit-transition: 300ms;
	transition: 300ms;
	border: 2px solid #3eb2cf;
	&:hover {
		color: @color_2;
		background-color: @background_color_2;
		-webkit-transition: 300ms;
		transition: 300ms;
		border: 2px solid #fec20b;
		text-decoration: none;
	}
}
.button-yellow {
	color: @color_2;
	background-color: @background_color_2;
	-webkit-transition: 300ms;
	transition: 300ms;
	border: 2px solid @color_3;
	&:hover {
		color: @color_2;
		background-color: @background_color_1;
		-webkit-transition: 300ms;
		transition: 300ms;
		border: 2px solid @color_4;
		text-decoration: none;
	}
}
.button-transparent-v1 {
	color: @color_3;
	background-color: @background_color_3;
	-webkit-transition: 300ms;
	transition: 300ms;
	border: 2px solid #fec20b;
	&:hover {
		color: @color_2;
		background-color: @background_color_1;
		-webkit-transition: 300ms;
		transition: 300ms;
		text-decoration: none;
		border: 2px solid #3eb2cf;
	}
}
.button-transparent-v2 {
	color: @color_4;
	background-color: @background_color_3;
	-webkit-transition: 300ms;
	transition: 300ms;
	border: 2px solid #3eb2cf;
	&:hover {
		color: @color_2;
		background-color: @background_color_1;
		-webkit-transition: 300ms;
		transition: 300ms;
		text-decoration: none;
		border: 2px solid #3eb2cf;
	}
}
.button-white {
	color: @color_3;
	background-color: @background_color_4;
	-webkit-transition: 300ms;
	transition: 300ms;
	border: 2px solid #fff;
	&:hover {
		color: @color_2;
		background-color: @background_color_2;
		-webkit-transition: 300ms;
		transition: 300ms;
		text-decoration: none;
		border: 2px solid #fec20b;
	}
}
.button-white-v2 {
	color: @color_2;
	background-color: @background_color_3;
	border: 2px solid #fff;
	-webkit-transition: 300ms;
	transition: 300ms;
	&:hover {
		color: @color_1;
		background-color: @background_color_4;
		border: 2px solid #fff;
		-webkit-transition: 300ms;
		transition: 300ms;
		text-decoration: none;
	}
}

.line{
	width: 80%;
}

.item {
	-webkit-perspective: 1px;
	perspective: 1px;
	height: 100vh;
	background-size: cover;
}
.carousel-info {
	margin-top: 200px;
	text-align: center;
}
.content-carousel {
	padding-bottom: 20px;
	font-size: 16px;
}
.carousel-nav {
	display: inline-block;
	margin: auto;
	width: 100%;
}
.button-block {
	padding: 5px 15px 5px 0;
	display: inline-block;
	margin: auto;
}
.button {
	padding: 15px 27px;
	border-radius: 30px;
	display: inline-block;
	text-align: center;
	font-weight: bold;
}
.carousel-indicators {
	li {
		border: 2px solid #fec20b;
		-webkit-transition: 300ms;
		transition: 300ms;
		&:hover {
			background-color: @background_color_2;
			-webkit-transition: 300ms;
			transition: 300ms;
		}
	}
	.active {
		background-color: @background_color_2;
	}
}
header {
	width: 100%;
	background-color: @background_color_3;
	position: absolute;
	top: 0;
	overflow: hidden;
	z-index: 1;
	-webkit-transition: 300ms;
	transition: 300ms;
}
.top-header-block {
	height: 40px;
	border-bottom: 1px solid #fff;
	.fa {
		color: @color_4;
	}
	.top-contact {
		line-height: 40px;
		background-color: @background_color_3;
		font-size: 1.8vh;
		span {
			padding-left: 5px;
			padding-right: 20px;
		}
	}
	.top-sign {
		font-size: 2vh;
		line-height: 40px;
		text-align: right;
		.fa {
			color: @color_1;
		}
		a {
			-webkit-transition: 300ms;
			transition: 300ms;
			color: @color_1;
			padding-left: 10px;
			padding-right: 10px;
			&:hover {
				-webkit-transition: 300ms;
				transition: 300ms;
				color: @color_3;
				text-decoration: none;
			}
		}
	}
}
.brand {
	width: 20%;
	float: left;
}
.img-brand {
	width: 70px;
	height: 70px;
}
.sticky-header {
	background-color: @background_color_4;
	position: fixed;
	-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.18);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.18);
	-webkit-transition: 100ms;
	transition: 100ms;
	z-index: 20;
	.top-header-block {
		display: none;
	}
	.brand {
		display: none;
	}
	.menu {
		text-align: center;
		width: 100%;
		li {
			margin: 10px 15px 10px 15px;
		}
	}
}
.menu {
	text-align: right;
	font-size: 16px;
	width: 80%;
	float: left;
	ul {
		list-style-type: none;
	}
	li {
		display: inline-block;
		margin: 25px 15px 0 15px;
		&:last-child {
			margin-right: 0;
		}
	}
	a {
		color: @color_1;
		-webkit-transition: 300ms;
		transition: 300ms;
		&:hover {
			color: @color_3;
			-webkit-transition: 300ms;
			transition: 300ms;
		}
	}
}
.mobile-block {
	position: fixed;
	width: 300px;
	background-color: @background_color_1;
	height: 100%;
	top: 0;
	right: -300px;
	-webkit-transition: right 1000ms;
	transition: right 1000ms;
	z-index: 2;
	padding: 0;
	overflow: auto;
	padding: 50px 0 50px 0;
	button {
		border: none;
		outline: none;
		background-color: @background_color_3;
		color: @color_1;
		-webkit-transition: 300ms;
		transition: 300ms;
		padding: 10px;
		&:hover {
			color: @color_5;
			-webkit-transition: 300ms;
			transition: 300ms;
		}
	}
	.mobile-brand-block {
		img {
			margin: auto;
			width: 50px;
			height: 50px;
		}
	}
	.mobile-menu {
		ul {
			list-style-type: none;
			padding: 0;
			.menu-item {
				a {
					display: block;
					padding: 10px 10px 10px 30px;
					border-bottom: 1px solid #318CA3;
					color: @color_6;
					&:hover {
						background-color: @background_color_5;
						color: @color_4;
						text-decoration: none;
					}
				}
			}
		}
	}
}
.mobile-menu-check {
	display: none;
	&:checked {
		&~.button-menu {
			right: 275px;
		}
		&~.mobile-block {
			right: 0;
		}
	}
}
.button-menu {
	border: none;
	background-color: @background_color_3;
	position: fixed;
	top: 5px;
	right: 20px;
	cursor: pointer;
	-webkit-transition: right 1000ms;
	transition: right 1000ms;
	z-index: 3;
	&:after {
		font-family: @font_family_3;
		position: absolute;
		top: 0;
		right: 0;
		content: "\f0c9";
		font-size: 20px;
		color: @color_1;
		opacity: 0.5;
	}
}
input[type=checkbox] {
	&:checked {
		&~.button-menu {
			&:after {
				font-family: @font_family_3;
				position: absolute;
				top: 0;
				right: 0;
				color: @color_1;
				content: "\f054";
				opacity: 0.5;
			}
		}
		&~.button-pull {
			&:after {
				padding: 4px 11px 5px 4px;
				position: absolute;
				top: 0;
				right: 0;
			}
		}
	}
}
.searchbox {
	position: relative;
	min-width: 50px;
	width: 0%;
	height: 40px;
	overflow: hidden;
	-webkit-transition: width 1000ms;
	transition: width 1000ms;
	float: right;
}
.searchbox-input {
	top: 0;
	right: 0;
	border: 0;
	outline: 0;
	background-color: @background_color_3;
	width: 100%;
	margin: 0;
	padding: 0px 55px 0px 20px;
	font-size: 20px;
	color: @color_4;
	height: 40px;
	&::-webkit-input-placeholder {
		color: @color_4;
	}
	&:-moz-placeholder {
		color: @color_4;
	}
	&::-moz-placeholder {
		color: @color_4;
	}
	&:-ms-input-placeholder {
		color: @color_4;
	}
}
.searchbox-icon {
	width: 50px;
	position: absolute;
	top: 0;
	font-size: 18px;
	right: 0;
	padding: 0;
	margin: 0;
	border: 0;
	outline: 0;
	line-height: 40px;
	text-align: center;
	cursor: pointer;
	color: @color_1;
	background-color: @background_color_3;
	-webkit-transition: 300ms;
	transition: 300ms;
	font-family: @font_family_3;
	&:hover {
		.fa {
			color: @color_3;
			-webkit-transition: 300ms;
			transition: 300ms;
		}
	}
}
.searchbox-submit {
	width: 50px;
	position: absolute;
	top: 0;
	font-size: 18px;
	right: 0;
	padding: 0;
	margin: 0;
	border: 0;
	outline: 0;
	line-height: 40px;
	text-align: center;
	cursor: pointer;
	color: @color_1;
	background-color: @background_color_3;
	-webkit-transition: 300ms;
	transition: 300ms;
	font-family: @font_family_3;
	&:hover {
		.fa {
			color: @color_3;
			-webkit-transition: 300ms;
			transition: 300ms;
		}
	}
}
.searchbox-open {
	width: 100%;
	height: 40px;
	background-color: @background_color_4;
	opacity: 0.8;
}

.pull-panel {
	position: fixed;
	width: 300px;
	background-color: @background_color_4;
	height: 420px;
	bottom: -520px;
	right: 80px;
	-webkit-transition: bottom 1000ms;
	transition: bottom 1000ms;
	z-index: 2;
	padding: 0;
	overflow: auto;
	border-radius: 8px 8px 0 0;
}
.header-pull-panel {
	background-color: @background_color_1;
	color: @color_2;
	padding: 10px 20px;
	label {
		float: right;
		cursor: pointer;
		-webkit-transition: 300ms;
		transition: 300ms;
		&:hover {
			margin-top: 2px;
			-webkit-transition: 300ms;
			transition: 300ms;
			opacity: 0.8;
		}
	}
}
.pull-panel-content {
	padding: 5px 10px;
	h4 {
		font-size: 14px;
	}
	form {
		height: 230px;
	}
	input {
		width: 100%;
		margin-top: 10px;
	}
	textarea {
		width: 100%;
		margin-top: 10px;
		border: 1px solid #888888;
		padding: 10px;
		height: 100px;
		-webkit-transition: all 0.2s ease-out;
		transition: all 0.2s ease-out;
		-webkit-box-shadow: none;
		box-shadow: none;
		resize: none;
		outline: none;
		&:focus {
			border: 1px solid #3eb2cf;
			&+label {
				&:before {
					color: @color_4;
					background: #fff;
					line-height: 1;
					-webkit-transform: translateY(calc(-23px)) scale(0.8, 0.8);
					transform: translateY(calc(-23px)) scale(0.8, 0.8);
				}
			}
		}
		&:active {
			border: 1px solid #3eb2cf;
			&+label {
				&:before {
					color: @color_4;
				}
			}
		}
		&+label {
			display: block;
			margin-top: calc(-90px);
			margin-bottom: 0px;
			pointer-events: none;
			&:before {
				content: 'You Massage';
				display: inline-block;
				color: @color_8;
				margin: 0 calc(10px);
				white-space: nowrap;
				-webkit-transition-duration: 0.2s;
				transition-duration: 0.2s;
				-webkit-transition-delay: 0;
				transition-delay: 0;
				-webkit-transition-timing-function: ease-out;
				transition-timing-function: ease-out;
				-webkit-transform-origin: left center;
				transform-origin: left center;
			}
		}
		&:valid {
			&+label {
				&:before {
					background: #fff;
					line-height: 1;
					-webkit-transform: translateY(calc(-23px)) scale(0.8, 0.8);
					transform: translateY(calc(-23px)) scale(0.8, 0.8);
					content: 'You Massage';
					color: @color_4;
				}
			}
			border: 1px solid #3eb2cf;
		}
	}
	input[type='email'] {
		background-color: @background_color_4;
		padding: 10px;
		border: 1px solid #888888;
		-webkit-transition: all 0.2s ease-out;
		transition: all 0.2s ease-out;
		-webkit-box-shadow: none;
		box-shadow: none;
		outline: none;
		&:focus {
			border: 1px solid #3eb2cf;
			&+label {
				&:before {
					color: @color_4;
					background: #fff;
					line-height: 1;
					-webkit-transform: translateY(calc(-23px)) scale(0.8, 0.8);
					transform: translateY(calc(-23px)) scale(0.8, 0.8);
				}
			}
		}
		&:active {
			border: 1px solid #3eb2cf;
			&+label {
				&:before {
					color: @color_4;
				}
			}
		}
		&+label {
			display: block;
			margin-top: calc(-30px);
			margin-bottom: 10px;
			pointer-events: none;
			&:before {
				display: inline-block;
				color: @color_8;
				margin: 0 calc(10px);
				white-space: nowrap;
				-webkit-transition-duration: 0.2s;
				transition-duration: 0.2s;
				-webkit-transition-delay: 0;
				transition-delay: 0;
				-webkit-transition-timing-function: ease-out;
				transition-timing-function: ease-out;
				-webkit-transform-origin: left center;
				transform-origin: left center;
				content: 'You Email';
			}
		}
		&:valid {
			&+label {
				&:before {
					background: #fff;
					line-height: 1;
					-webkit-transform: translateY(calc(-23px)) scale(0.8, 0.8);
					transform: translateY(calc(-23px)) scale(0.8, 0.8);
					color: @color_4;
					content: 'You Email';
				}
			}
			border: 1px solid #3eb2cf;
		}
	}
	input[type='text'] {
		background-color: @background_color_4;
		padding: 10px;
		border: 1px solid #888888;
		-webkit-transition: all 0.2s ease-out;
		transition: all 0.2s ease-out;
		-webkit-box-shadow: none;
		box-shadow: none;
		outline: none;
		&:focus {
			border: 1px solid #3eb2cf;
			&+label {
				&:before {
					color: @color_4;
					background: #fff;
					line-height: 1;
					-webkit-transform: translateY(calc(-23px)) scale(0.8, 0.8);
					transform: translateY(calc(-23px)) scale(0.8, 0.8);
				}
			}
		}
		&:active {
			border: 1px solid #3eb2cf;
			&+label {
				&:before {
					color: @color_4;
				}
			}
		}
		&+label {
			display: block;
			margin-top: calc(-30px);
			margin-bottom: 10px;
			pointer-events: none;
			&:before {
				display: inline-block;
				color: @color_8;
				margin: 0 calc(10px);
				white-space: nowrap;
				-webkit-transition-duration: 0.2s;
				transition-duration: 0.2s;
				-webkit-transition-delay: 0;
				transition-delay: 0;
				-webkit-transition-timing-function: ease-out;
				transition-timing-function: ease-out;
				-webkit-transform-origin: left center;
				transform-origin: left center;
				content: 'You Name';
			}
		}
		&:valid {
			&+label {
				&:before {
					background: #fff;
					line-height: 1;
					-webkit-transform: translateY(calc(-23px)) scale(0.8, 0.8);
					transform: translateY(calc(-23px)) scale(0.8, 0.8);
					color: @color_4;
					content: 'You Name';
				}
			}
			border: 1px solid #3eb2cf;
		}
	}
	input[type='email'].active {
		&+label {
			&:before {
				background: #fff;
				line-height: 1;
				-webkit-transform: translateY(calc(-23px)) scale(0.8, 0.8);
				transform: translateY(calc(-23px)) scale(0.8, 0.8);
			}
		}
	}
	input[type='text'].active {
		&+label {
			&:before {
				background: #fff;
				line-height: 1;
				-webkit-transform: translateY(calc(-23px)) scale(0.8, 0.8);
				transform: translateY(calc(-23px)) scale(0.8, 0.8);
			}
		}
	}
	textarea.active {
		&+label {
			&:before {
				background: #fff;
				line-height: 1;
				-webkit-transform: translateY(calc(-23px)) scale(0.8, 0.8);
				transform: translateY(calc(-23px)) scale(0.8, 0.8);
			}
		}
	}
	button {
		width: 100%;
	}
}
.pull-panel-check {
	display: none;
	&:checked {
		&~.button-pull {
			bottom: -100px;
		}
		&~.pull-panel {
			bottom: 0;
		}
	}
}
.button-pull {
	background-color: @background_color_1;
	color: @color_2;
	position: fixed;
	bottom: 0;
	right: 80px;
	cursor: pointer;
	-webkit-transition: bottom 1000ms;
	transition: bottom 1000ms;
	z-index: 3;
	margin: 0;
	border-radius: 8px 8px 0 0;
	padding: 10px 20px;
	display: table-cell;
	-webkit-transition: 1000ms;
	transition: 1000ms;
	.fa {
		vertical-align: middle;
	}
	span {
		vertical-align: middle;
		margin-left: 12px;
	}
	&:hover {
		-webkit-box-shadow: 0 3px 15px 0 #000;
		box-shadow: 0 3px 15px 0 #000;
		-webkit-transition: 1000ms;
		transition: 1000ms;
	}
	&:after {
		position: absolute;
		top: 0;
		right: 0;
	}
}
.button-top {
	background-color: @background_color_1;
	position: fixed;
	bottom: 10px;
	right: 20px;
	cursor: pointer;
	display: none;
	color: @color_2;
	font-size: 25px;
	line-height: 32px;
	width: 36px;
	text-align: center;
	border-radius: 50%;
	z-index: 4;
	-webkit-transition: 300ms;
	transition: 300ms;
	&:hover {
		background-color: @background_color_2;
		-webkit-transition: 300ms;
		transition: 300ms;
	}
}
.section-about {
	h2 {
		color: @color_4;
	}
	.content-block {
		p {
			color: @color_8;
			padding-bottom: 20px;
		}
	}
	.button {
		width: 50%;
		margin-bottom: 10px;
	}
}
.video-block {
	button {
		padding: 0;
		border: none;
		&:hover {
			.img-icon-youtube {
				width: 110px;
				height: 110px;
				-webkit-transition: 300ms;
				transition: 300ms;
			}
		}
	}
}
.img-icon-youtube {
	width: 100px;
	height: 100px;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.modal-dialog {
	position: relative;
	width: 800px;
}
.modal-video {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 1050;
	left: 0;
	display: none;
	overflow: hidden;
	-webkit-overflow-scrolling: touch;
	outline: 0;
}
.modal-body-video {
	position: relative;
}
.close-video {
	position: fixed;
	top: 10px;
	right: 10px;
	color: @color_2;
	padding: 0;
	cursor: pointer;
	background: 0 0;
	border: 0;
	&:hover {
		-webkit-transform: rotate(1turn);
		transform: rotate(1turn);
		-webkit-transition: 1000ms;
		transition: 1000ms;
	}
}
.modal-backdrop {
	background-color: @background_color_6;
	opacity: 0.7 !important;
	-webkit-filter: blur(5px);
	filter: blur(5px);
}
.our-program {
	background-color: @background_color_1;
	h2 {
		color: @color_2;
		text-align: center;
	}
	p {
		color: @color_2;
		text-align: center;
		padding-bottom: 45px;
	}
}
.blocks-program {
	margin-left: 5px;
	margin-right: 5px;
	img {
		width: 100%;
	}
	.button {
		margin-top: 45px;
	}
	a{
		color: @color_5;
		transition: 300ms;
	&:hover{
  color: @color_4;
		transition: 300ms;
		text-decoration: none;
	}
	}
}
.content-block-program {
	background-color: @background_color_4;
	padding: 20px 20px 0 20px;
	.date-program {
		font-style: italic;
		color: @color_8;
		text-align: left;
		padding: 0;
	}
	.author-program {
		color: @color_1;
		text-align: left;
	}
}

.features {
	h2 {
		color: @color_4;
		text-align: center;
	}
	p {
		text-align: center;
		color: @color_8;
		padding-bottom: 45px;
	}
}
.features-item {
	text-align: center;
	div {
		display: inline-block;
		text-align: left;
	}
	.fa {
		color: @color_4;
		padding-right: 15px;
	}
	span {
		font-size: 30px;
		color: @color_3;
		font-weight: bold;
	}
	p {
		font-weight: bold;
		font-size: 18px;
		color: @color_1;
	}
}
.events {
	background-color: @background_color_7;
	h2 {
		color: @color_4;
		text-align: center;
	}
}
.block-event {
	padding-bottom: 30px;
}
.content-block-event {
	text-align: center;
	background-color: @background_color_4;
	img {
		width: 100%;
	}
	.date-event {
		color: @color_2;
		background-color: @background_color_1;
		.day {
			font-weight: bold;
			font-size: 30px;
		}
		.mounth {
			font-size: 14px;
		}
		.time {
			font-weight: bold;
		}
	}
	h4 {
		a {
			color: @color_3;
			-webkit-transition: 300ms;
			transition: 300ms;
			font-weight: bold;
			&:hover {
				color: @color_4;
				text-decoration: none;
				-webkit-transition: 300ms;
				transition: 300ms;
			}
		}
	}
	.author-event {
		a {
			color: @color_8;
			-webkit-transition: 300ms;
			transition: 300ms;
			font-weight: normal;
			&:hover {
				color: @color_4;
				-webkit-transition: 300ms;
				transition: 300ms;
				text-decoration: none;
			}
		}
	}
}
.img-event-block {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	-webkit-transition: 300ms;
	transition: 300ms;
	&:hover {
		opacity: 0.5;
		background-color: @background_color_1;
	}
}
.img-event {
	.button-event {
		z-index: 100;
		position: absolute;
		top: 50%;
		left: 50%;
		opacity: 0;
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	}
	&:hover {
		.button-event {
			opacity: 1;
		}
		.img-event-block {
			opacity: 0.5;
			background-color: @background_color_1;
		}
	}
	position: relative;
}
.say-us {
	position: relative;
	background-color: @background_color_3;
	background-image: url(../images/bg-say.jpg);
	button {
		position: absolute;
		border: none;
		outline: none;
		background-color: @background_color_3;
		.fa {
			color: @color_2;
			opacity: 0.3;
		}
		&:hover {
			opacity: 0.8;
		}
	}
	.next {
		top: 50%;
		right: 5%;
	}
	.prev {
		top: 50%;
		left: 5%;
	}
}
.say-us-block {
	padding: 0 150px 0 150px;
	text-align: center;
	p {
		color: @color_2;
		font-size: 22px;
		font-style: italic;
	}
	h4 {
		color: @color_2;
		font-weight: bold;
	}
}
.gallery {
	padding: 0;
	.slick-prev {
		font-size: 0;
		line-height: 0;
		position: absolute;
		top: 50%;
		display: block;
		width: 20px;
		height: 20px;
		margin-top: -10px;
		padding: 0;
		cursor: pointer;
		color: @color_9;
		border: none;
		outline: none;
		background: transparent;
	}
	.slick-next {
		font-size: 0;
		line-height: 0;
		position: absolute;
		top: 50%;
		display: block;
		width: 20px;
		height: 20px;
		margin-top: -10px;
		padding: 0;
		cursor: pointer;
		color: @color_9;
		border: none;
		outline: none;
		background: transparent;
	}
	img {
		width: 100%;
	}
}
.gallery-block-img {
	position: relative;
	width: 100%;
	height: 250px;
}
.view {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: @background_color_6;
	opacity: 0;
	-webkit-transition: 500ms;
	transition: 500ms;
	&:hover {
		opacity: 0.5;
		&:before {
			top: 10px;
			left: 10px;
			right: 10px;
			bottom: 10px;
			-webkit-transition: 800ms;
			transition: 800ms;
		}
		&:after {
			top: 10px;
			left: 10px;
			right: 10px;
			bottom: 10px;
			-webkit-transition: 800ms;
			transition: 800ms;
		}
		.view-icon {
			top: 50%;
			opacity: 1;
		}
		.caption-gallery {
			top: 60%;
			opacity: 1;
		}
	}
	&:before {
		position: absolute;
		content: "";
		top: 10px;
		left: 50%;
		right: 50%;
		bottom: 10px;
		border-top: 2px solid #fff;
		border-bottom: 2px solid #fff;
		-webkit-transition: 800ms;
		transition: 800ms;
	}
	&:after {
		position: absolute;
		content: "";
		top: 50%;
		left: 10px;
		right: 10px;
		bottom: 50%;
		border-right: 2px solid #fff;
		border-left: 2px solid #fff;
		-webkit-transition: 800ms;
		transition: 800ms;
	}
}
.view-icon {
	position: absolute;
	left: 50%;
	top: 100%;
	opacity: 0;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	font-size: 5vh;
	color: @color_2;
	-webkit-transition: 800ms all ease;
	transition: 800ms all ease;
	z-index: 2;
}
.caption-gallery {
	position: absolute;
	left: 50%;
	top: 100%;
	opacity: 0;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	font-size: 2vh;
	color: @color_2;
	-webkit-transition: 800ms all ease;
	transition: 800ms all ease;
	z-index: 2;
}
.sl-overlay {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: @background_color_6;
	opacity: 0.7;
	display: none;
	z-index: 1050;
}
.sl-wrapper {
	.sl-close {
		color: @color_2;
	}
	.sl-counter {
		color: @color_2;
	}
	.sl-navigation {
		button {
			color: @color_2;
		}
	}
}
.maps {
	padding: 0;
	.no-scroll-maps {
		background: transparent;
		position: relative;
		width: 100%;
		height: 450px;
		top: 450px;
		margin-top: -450px;
	}
	iframe {
		width: 100%;
		height: 450px;
		border: 0;
	}
	h2 {
		display: none;
	}
}
footer {
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;
	.fa {
		color: @color_4;
		padding-bottom: 20px;
	}
	p {
		color: @color_1;
		font-size: 18px;
		padding-bottom: 45px;
	}
	.social-icon {
		.fa {
			border-radius: 50%;
			width: 50px;
			margin: 0 20px 0 20px;
			padding: 10px;
			color: @color_8;
			background-color: @background_color_8;
			-webkit-transition: 300ms;
			transition: 300ms;
			&:hover {
				-webkit-transition: 300ms;
				transition: 300ms;
				color: @color_2;
			}
		}
		.fa-facebook {
			&:hover {
				background-color: @background_color_9;
			}
		}
		.fa-twitter {
			&:hover {
				background-color: @background_color_10;
			}
		}
		.fa-google {
			&:hover {
				background: #d95139;
			}
		}
		.fa-instagram {
			&:hover {
				background-image: linear-gradient(-45deg, #ffdc80, #e1306c 50%, #405de6);
				background-repeat: no-repeat;
				filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFDC80', endColorstr='#FF405DE6', GradientType=1);
			}
		}
		a {
			&:hover {
				text-decoration: none;
			}
		}
	}
	.copy {
		padding: 45px 0 0 0;
		font-size: 14px;
	}
}
@media (max-width: 992px) {
	.title-big {
		font-size: 30px;
	}
	.carousel-info {
		text-align: center;
		margin-top: 150px;
	}
	.menu {
		display: none;
	}
	.brand {
		display: none;
	}
	.top-header-block {
		display: none;
	}
	header {
		padding: 0;
	}
	.section-about {
		text-align: center;
	}
	.blocks-program {
		max-width: 50%;
	}
	.features-item {
		div {
			display: block;
			text-align: center;
		}
		.fa {
			padding: 0 0 20px 0;
		}
	}
	.say-us {
		.next {
			top: 80%;
			right: 5%;
		}
		.prev {
			top: 80%;
			left: 5%;
		}
	}
	.say-us-block {
		padding: 0;
	}
}
@media (min-width: 992px) {
	.button-menu {
		display: none;
	}
	.mobile-block {
		display: none;
	}
}

/* page news */

.bread{
	padding-top: 50px;
	padding-bottom: 50px;
	margin-top: 120px;
	background-color: @background_color_2;
	text-align: center;
	h1{
padding-bottom: 35px;
	}
	ul{
		list-style-type: none;
		padding: 0;
	}
	li{
		display: inline-block;
	}
li::before {
    content: "/";
    padding-right: 5px;
    opacity: 0.5;
	color: @color_2;
}
li:first-child::before {
display: none;
}
a{
	color: @color_2;
}
.active{
	color: @color_2;
	opacity: 0.5;
}
}

.news{
	background-color: @background_color_7;
}

.news-block{
	margin-bottom: 20px;
	background-color: @background_color_4;
}

.content-news-block{
	padding: 20px;
	p{
		color: @color_8;
		padding-bottom: 20px;
	}
}

.info-news-block{
	padding-bottom: 30px;
		text-align: center;
		.fa{
		color: @color_4;
		padding-right: 10px;
	}
	span{
		font-style: italic;
	}
	.author-news{
		color: @color_3;
	}
}

@media (max-width: 992px) {
.news-block {
		text-align: center;
	}
}

.pagination-block{
	text-align: center;
ul{
	.disabled{
		span{
			background-color: @background_color_4;
	border: 1px solid @color_4;
	color: @color_4;
	transition: 300ms;
	&:hover{
					background-color: @background_color_4;
	border: 1px solid @color_4;
	color: @color_4;
	transition: 300ms;
		}
	}
	}
.active{
	span{
		background-color: @background_color_2;
		border: 1px solid @color_3;
	transition: 300ms;
		&:hover{
		background-color: @background_color_2;
		border: 1px solid @color_3;
	transition: 300ms;
		}
	}
}
a{
	background-color: @background_color_4;
	border: 1px solid @color_4;
	color: @color_4;
	transition: 300ms;
	&:hover{
		background-color: @background_color_2;
		border: 1px solid @color_3;
	color: @color_2;
	transition: 300ms;
	}
}
}
}

.side-bar{
padding-left: 20px;
}

.search-sidebar{

}

.categories{
	padding-bottom: 30px;
	h4{
		border-bottom: 1px solid @color_1;
	}
	ul{
		list-style-type: none;
		padding: 10px 0;
	}
	li{
		padding-top: 5px;
		padding-bottom: 5px;
	}
	.fa{
		padding-right: 20px;
	}
	a{
		color: @color_3;
		transition: 300ms;
		&:hover{
			color: @color_4;
			text-decoration: none;
		transition: 300ms;
			.fa{
				color: @color_3;
		transition: 300ms;
			}
		}
	}
}

.archive-news{
	padding-bottom: 30px;
	h4{
		border-bottom: 1px solid @color_1;
	}
	ul{
		list-style-type: none;
		padding: 10px 0;
	}
	li{
		padding-top: 5px;
		padding-bottom: 5px;
	}
	.fa{
		padding-right: 20px;
	}
	a{
		color: @color_3;
		transition: 300ms;
		&:hover{
			color: @color_4;
			text-decoration: none;
		transition: 300ms;
			.fa{
				color: @color_3;
		transition: 300ms;
			}
		}
	}
}

/* single news */

.single-news{
	background-color: @background_color_7;
	p{
		color: @color_8;
		padding-top: 20px;
		padding-bottom: 20px;
	}
}

.info-single-block{
	padding-bottom: 30px;
		text-align: center;
		.fa{
		color: @color_4;
		padding-right: 10px;
	}
	span{
		font-style: italic;
	}
	.author-news{
		color: @color_3;
	}
}

/* 404 */

.header-404{
	padding-top: 20px;
	img{
		width: 100px;
		height: 100px;
	}
}

.content-404{
	padding-top: 100px;
	padding-bottom: 50px;
	text-align: center;
	h2{
		font-size: 200px;
		font-weight: bold;
		color: @color_8;
	}
	p{
		font-size: 50px;
		padding-bottom: 30px;
	}
}

.footer-404{
	padding: 0;
}

/* sign-in */

.sign-in{
	background-color: @background_color_3;
	h2{
		text-align: center;
	}
		form {
			width: 420px;
		height: 230px;
		margin: auto;
		padding-left: 10px;
		padding-right: 10px;
	}
	input {
		width: 400px;
		margin-top: 10px;
		border-radius: 30px;
	}
	input[type='text'] {
		background-color: @background_color_4;
		padding: 10px;
		border: 1px solid #888888;
		-webkit-transition: all 0.2s ease-out;
		transition: all 0.2s ease-out;
		-webkit-box-shadow: none;
		box-shadow: none;
		outline: none;
		&:focus {
			border: 1px solid #3eb2cf;
			&+label {
				&:before {
					color: @color_4;
					background: #fff;
					line-height: 1;
					-webkit-transform: translateY(calc(-23px)) scale(0.8, 0.8);
					transform: translateY(calc(-23px)) scale(0.8, 0.8);
				}
			}
		}
		&:active {
			border: 1px solid #3eb2cf;
			&+label {
				&:before {
					color: @color_4;
				}
			}
		}
		&+label {
			display: block;
			margin-top: calc(-30px);
			margin-bottom: 10px;
			pointer-events: none;
			&:before {
				display: inline-block;
				color: @color_8;
				margin: 0 calc(10px);
				white-space: nowrap;
				-webkit-transition-duration: 0.2s;
				transition-duration: 0.2s;
				-webkit-transition-delay: 0;
				transition-delay: 0;
				-webkit-transition-timing-function: ease-out;
				transition-timing-function: ease-out;
				-webkit-transform-origin: left center;
				transform-origin: left center;
				content: 'You Login';
			}
		}
		&:valid {
			&+label {
				&:before {
					background: #fff;
					line-height: 1;
					-webkit-transform: translateY(calc(-23px)) scale(0.8, 0.8);
					transform: translateY(calc(-23px)) scale(0.8, 0.8);
					color: @color_4;
					content: 'You Login';
				}
			}
			border: 1px solid #3eb2cf;
		}
	}
	input[type='password'] {
		background-color: @background_color_4;
		padding: 10px;
		border: 1px solid #888888;
		-webkit-transition: all 0.2s ease-out;
		transition: all 0.2s ease-out;
		-webkit-box-shadow: none;
		box-shadow: none;
		outline: none;
		&:focus {
			border: 1px solid #3eb2cf;
			&+label {
				&:before {
					color: @color_4;
					background: #fff;
					line-height: 1;
					-webkit-transform: translateY(calc(-23px)) scale(0.8, 0.8);
					transform: translateY(calc(-23px)) scale(0.8, 0.8);
				}
			}
		}
		&:active {
			border: 1px solid #3eb2cf;
			&+label {
				&:before {
					color: @color_4;
				}
			}
		}
		&+label {
			display: block;
			margin-top: calc(-30px);
			margin-bottom: 10px;
			pointer-events: none;
			&:before {
				display: inline-block;
				color: @color_8;
				margin: 0 calc(10px);
				white-space: nowrap;
				-webkit-transition-duration: 0.2s;
				transition-duration: 0.2s;
				-webkit-transition-delay: 0;
				transition-delay: 0;
				-webkit-transition-timing-function: ease-out;
				transition-timing-function: ease-out;
				-webkit-transform-origin: left center;
				transform-origin: left center;
				content: 'You Password';
			}
		}
		&:valid {
			&+label {
				&:before {
					background: #fff;
					line-height: 1;
					-webkit-transform: translateY(calc(-23px)) scale(0.8, 0.8);
					transform: translateY(calc(-23px)) scale(0.8, 0.8);
					color: @color_4;
					content: 'You Password';
				}
			}
			border: 1px solid #3eb2cf;
		}
	}
	input[type='text'].active {
		&+label {
			&:before {
				background: #fff;
				line-height: 1;
				-webkit-transform: translateY(calc(-23px)) scale(0.8, 0.8);
				transform: translateY(calc(-23px)) scale(0.8, 0.8);
			}
		}
	}
	input[type='password'].active {
		&+label {
			&:before {
				background: #fff;
				line-height: 1;
				-webkit-transform: translateY(calc(-23px)) scale(0.8, 0.8);
				transform: translateY(calc(-23px)) scale(0.8, 0.8);
			}
		}
	}
	textarea.active {
		&+label {
			&:before {
				background: #fff;
				line-height: 1;
				-webkit-transform: translateY(calc(-23px)) scale(0.8, 0.8);
				transform: translateY(calc(-23px)) scale(0.8, 0.8);
			}
		}
	}
	button{
		width: 100%;
		height: 45px;
		margin-top: 10px;
		border-radius: 30px;
	}
	p{
		padding-top: 10px;
		color: @color_8;
	}
}

/* sign up */

.sign-up{
	background-color: @background_color_3;
	h2{
		text-align: center;
	}
		form {
			width: 420px;
		height: 230px;
		margin: auto;
		padding-left: 10px;
		padding-right: 10px;
	}
	input {
		width: 400px;
		margin-top: 10px;
		border-radius: 30px;
	}
	input[type='text'] {
		background-color: @background_color_4;
		padding: 10px;
		border: 1px solid #888888;
		-webkit-transition: all 0.2s ease-out;
		transition: all 0.2s ease-out;
		-webkit-box-shadow: none;
		box-shadow: none;
		outline: none;
		&:focus {
			border: 1px solid #3eb2cf;
			&+label {
				&:before {
					color: @color_4;
					background: #fff;
					line-height: 1;
					-webkit-transform: translateY(calc(-23px)) scale(0.8, 0.8);
					transform: translateY(calc(-23px)) scale(0.8, 0.8);
				}
			}
		}
		&:active {
			border: 1px solid #3eb2cf;
			&+label {
				&:before {
					color: @color_4;
				}
			}
		}
		&+label {
			display: block;
			margin-top: calc(-30px);
			margin-bottom: 10px;
			pointer-events: none;
			&:before {
				display: inline-block;
				color: @color_8;
				margin: 0 calc(10px);
				white-space: nowrap;
				-webkit-transition-duration: 0.2s;
				transition-duration: 0.2s;
				-webkit-transition-delay: 0;
				transition-delay: 0;
				-webkit-transition-timing-function: ease-out;
				transition-timing-function: ease-out;
				-webkit-transform-origin: left center;
				transform-origin: left center;
				content: 'You Name';
			}
		}
		&:valid {
			&+label {
				&:before {
					background: #fff;
					line-height: 1;
					-webkit-transform: translateY(calc(-23px)) scale(0.8, 0.8);
					transform: translateY(calc(-23px)) scale(0.8, 0.8);
					color: @color_4;
					content: 'You Name';
				}
			}
			border: 1px solid #3eb2cf;
		}
	}
	input[type='password'] {
		background-color: @background_color_4;
		padding: 10px;
		border: 1px solid #888888;
		-webkit-transition: all 0.2s ease-out;
		transition: all 0.2s ease-out;
		-webkit-box-shadow: none;
		box-shadow: none;
		outline: none;
		&:focus {
			border: 1px solid #3eb2cf;
			&+label {
				&:before {
					color: @color_4;
					background: #fff;
					line-height: 1;
					-webkit-transform: translateY(calc(-23px)) scale(0.8, 0.8);
					transform: translateY(calc(-23px)) scale(0.8, 0.8);
				}
			}
		}
		&:active {
			border: 1px solid #3eb2cf;
			&+label {
				&:before {
					color: @color_4;
				}
			}
		}
		&+label {
			display: block;
			margin-top: calc(-30px);
			margin-bottom: 10px;
			pointer-events: none;
			&:before {
				display: inline-block;
				color: @color_8;
				margin: 0 calc(10px);
				white-space: nowrap;
				-webkit-transition-duration: 0.2s;
				transition-duration: 0.2s;
				-webkit-transition-delay: 0;
				transition-delay: 0;
				-webkit-transition-timing-function: ease-out;
				transition-timing-function: ease-out;
				-webkit-transform-origin: left center;
				transform-origin: left center;
				content: 'You Password';
			}
		}
		&:valid {
			&+label {
				&:before {
					background: #fff;
					line-height: 1;
					-webkit-transform: translateY(calc(-23px)) scale(0.8, 0.8);
					transform: translateY(calc(-23px)) scale(0.8, 0.8);
					color: @color_4;
					content: 'You Password';
				}
			}
			border: 1px solid #3eb2cf;
		}
	}
		input[type='email'] {
		background-color: @background_color_4;
		padding: 10px;
		border: 1px solid #888888;
		-webkit-transition: all 0.2s ease-out;
		transition: all 0.2s ease-out;
		-webkit-box-shadow: none;
		box-shadow: none;
		outline: none;
		&:focus {
			border: 1px solid #3eb2cf;
			&+label {
				&:before {
					color: @color_4;
					background: #fff;
					line-height: 1;
					-webkit-transform: translateY(calc(-23px)) scale(0.8, 0.8);
					transform: translateY(calc(-23px)) scale(0.8, 0.8);
				}
			}
		}
		&:active {
			border: 1px solid #3eb2cf;
			&+label {
				&:before {
					color: @color_4;
				}
			}
		}
		&+label {
			display: block;
			margin-top: calc(-30px);
			margin-bottom: 10px;
			pointer-events: none;
			&:before {
				display: inline-block;
				color: @color_8;
				margin: 0 calc(10px);
				white-space: nowrap;
				-webkit-transition-duration: 0.2s;
				transition-duration: 0.2s;
				-webkit-transition-delay: 0;
				transition-delay: 0;
				-webkit-transition-timing-function: ease-out;
				transition-timing-function: ease-out;
				-webkit-transform-origin: left center;
				transform-origin: left center;
				content: 'You Email';
			}
		}
		&:valid {
			&+label {
				&:before {
					background: #fff;
					line-height: 1;
					-webkit-transform: translateY(calc(-23px)) scale(0.8, 0.8);
					transform: translateY(calc(-23px)) scale(0.8, 0.8);
					color: @color_4;
					content: 'You Email';
				}
			}
			border: 1px solid #3eb2cf;
		}
	}
	input[type='text'].active {
		&+label {
			&:before {
				background: #fff;
				line-height: 1;
				-webkit-transform: translateY(calc(-23px)) scale(0.8, 0.8);
				transform: translateY(calc(-23px)) scale(0.8, 0.8);
			}
		}
	}
	input[type='password'].active {
		&+label {
			&:before {
				background: #fff;
				line-height: 1;
				-webkit-transform: translateY(calc(-23px)) scale(0.8, 0.8);
				transform: translateY(calc(-23px)) scale(0.8, 0.8);
			}
		}
	}
	input[type='email'].active {
		&+label {
			&:before {
				background: #fff;
				line-height: 1;
				-webkit-transform: translateY(calc(-23px)) scale(0.8, 0.8);
				transform: translateY(calc(-23px)) scale(0.8, 0.8);
			}
		}
	}
	button{
		width: 100%;
		height: 45px;
		margin-top: 10px;
		border-radius: 30px;
	}
}

	.social-icon-sign {
		.fa {
			border-radius: 50%;
			width: 35px;
			margin: 0 5px 0 5px;
			padding: 10px;
			color: @color_8;
			background-color: @background_color_8;
			-webkit-transition: 300ms;
			transition: 300ms;
			&:hover {
				-webkit-transition: 300ms;
				transition: 300ms;
				color: @color_2;
			}
		}
		.fa-facebook {
			&:hover {
				background-color: @background_color_9;
			}
		}
		.fa-twitter {
			&:hover {
				background-color: @background_color_10;
			}
		}
		.fa-google {
			&:hover {
				background: #d95139;
			}
		}
		.fa-instagram {
			&:hover {
				background-image: linear-gradient(-45deg, #ffdc80, #e1306c 50%, #405de6);
				background-repeat: no-repeat;
				filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFDC80', endColorstr='#FF405DE6', GradientType=1);
			}
		}
		a {
			&:hover {
				text-decoration: none;
			}
		}
	}

	/* contacts */

	.contacts{
		p{
			color: @color_8;
		}
		form {
		height: 230px;
	}
	input {
		width: 100%;
		margin-top: 10px;
		border-radius: 30px;
	}
	textarea {
		width: 100%;
		margin-top: 10px;
		border: 1px solid #888888;
		padding: 10px;
		height: 100px;
		-webkit-transition: all 0.2s ease-out;
		transition: all 0.2s ease-out;
		-webkit-box-shadow: none;
		box-shadow: none;
		resize: none;
		outline: none;
		border-radius: 30px;
		&:focus {
			border: 1px solid #3eb2cf;
			&+label {
				&:before {
					color: @color_4;
					background: #fff;
					line-height: 1;
					-webkit-transform: translateY(calc(-23px)) scale(0.8, 0.8);
					transform: translateY(calc(-23px)) scale(0.8, 0.8);
				}
			}
		}
		&:active {
			border: 1px solid #3eb2cf;
			&+label {
				&:before {
					color: @color_4;
				}
			}
		}
		&+label {
			display: block;
			margin-top: calc(-90px);
			margin-bottom: 0px;
			pointer-events: none;
			&:before {
				content: 'You Massage';
				display: inline-block;
				color: @color_8;
				margin: 0 calc(10px);
				white-space: nowrap;
				-webkit-transition-duration: 0.2s;
				transition-duration: 0.2s;
				-webkit-transition-delay: 0;
				transition-delay: 0;
				-webkit-transition-timing-function: ease-out;
				transition-timing-function: ease-out;
				-webkit-transform-origin: left center;
				transform-origin: left center;
			}
		}
		&:valid {
			&+label {
				&:before {
					background: #fff;
					line-height: 1;
					-webkit-transform: translateY(calc(-23px)) scale(0.8, 0.8);
					transform: translateY(calc(-23px)) scale(0.8, 0.8);
					content: 'You Massage';
					color: @color_4;
				}
			}
			border: 1px solid #3eb2cf;
		}
	}
	input.fname[type='text'] {
		background-color: @background_color_4;
		padding: 10px;
		border: 1px solid #888888;
		-webkit-transition: all 0.2s ease-out;
		transition: all 0.2s ease-out;
		-webkit-box-shadow: none;
		box-shadow: none;
		outline: none;
		&:focus {
			border: 1px solid #3eb2cf;
			&+label {
				&:before {
					color: @color_4;
					background: #fff;
					line-height: 1;
					-webkit-transform: translateY(calc(-23px)) scale(0.8, 0.8);
					transform: translateY(calc(-23px)) scale(0.8, 0.8);
				}
			}
		}
		&:active {
			border: 1px solid #3eb2cf;
			&+label {
				&:before {
					color: @color_4;
				}
			}
		}
		&+label {
			display: block;
			margin-top: calc(-30px);
			margin-bottom: 10px;
			pointer-events: none;
			&:before {
				display: inline-block;
				color: @color_8;
				margin: 0 calc(10px);
				white-space: nowrap;
				-webkit-transition-duration: 0.2s;
				transition-duration: 0.2s;
				-webkit-transition-delay: 0;
				transition-delay: 0;
				-webkit-transition-timing-function: ease-out;
				transition-timing-function: ease-out;
				-webkit-transform-origin: left center;
				transform-origin: left center;
				content: 'First Name';
			}
		}
		&:valid {
			&+label {
				&:before {
					background: #fff;
					line-height: 1;
					-webkit-transform: translateY(calc(-23px)) scale(0.8, 0.8);
					transform: translateY(calc(-23px)) scale(0.8, 0.8);
					color: @color_4;
					content: 'First Name';
				}
			}
			border: 1px solid #3eb2cf;
		}
	}
	input.lname[type='text'] {
		background-color: @background_color_4;
		padding: 10px;
		border: 1px solid #888888;
		-webkit-transition: all 0.2s ease-out;
		transition: all 0.2s ease-out;
		-webkit-box-shadow: none;
		box-shadow: none;
		outline: none;
		&:focus {
			border: 1px solid #3eb2cf;
			&+label {
				&:before {
					color: @color_4;
					background: #fff;
					line-height: 1;
					-webkit-transform: translateY(calc(-23px)) scale(0.8, 0.8);
					transform: translateY(calc(-23px)) scale(0.8, 0.8);
				}
			}
		}
		&:active {
			border: 1px solid #3eb2cf;
			&+label {
				&:before {
					color: @color_4;
				}
			}
		}
		&+label {
			display: block;
			margin-top: calc(-30px);
			margin-bottom: 10px;
			pointer-events: none;
			&:before {
				display: inline-block;
				color: @color_8;
				margin: 0 calc(10px);
				white-space: nowrap;
				-webkit-transition-duration: 0.2s;
				transition-duration: 0.2s;
				-webkit-transition-delay: 0;
				transition-delay: 0;
				-webkit-transition-timing-function: ease-out;
				transition-timing-function: ease-out;
				-webkit-transform-origin: left center;
				transform-origin: left center;
				content: 'Last Name';
			}
		}
		&:valid {
			&+label {
				&:before {
					background: #fff;
					line-height: 1;
					-webkit-transform: translateY(calc(-23px)) scale(0.8, 0.8);
					transform: translateY(calc(-23px)) scale(0.8, 0.8);
					color: @color_4;
					content: 'Last Name';
				}
			}
			border: 1px solid #3eb2cf;
		}
	}
		input[type='email'] {
		background-color: @background_color_4;
		padding: 10px;
		border: 1px solid #888888;
		-webkit-transition: all 0.2s ease-out;
		transition: all 0.2s ease-out;
		-webkit-box-shadow: none;
		box-shadow: none;
		outline: none;
		&:focus {
			border: 1px solid #3eb2cf;
			&+label {
				&:before {
					color: @color_4;
					background: #fff;
					line-height: 1;
					-webkit-transform: translateY(calc(-23px)) scale(0.8, 0.8);
					transform: translateY(calc(-23px)) scale(0.8, 0.8);
				}
			}
		}
		&:active {
			border: 1px solid #3eb2cf;
			&+label {
				&:before {
					color: @color_4;
				}
			}
		}
		&+label {
			display: block;
			margin-top: calc(-30px);
			margin-bottom: 10px;
			pointer-events: none;
			&:before {
				display: inline-block;
				color: @color_8;
				margin: 0 calc(10px);
				white-space: nowrap;
				-webkit-transition-duration: 0.2s;
				transition-duration: 0.2s;
				-webkit-transition-delay: 0;
				transition-delay: 0;
				-webkit-transition-timing-function: ease-out;
				transition-timing-function: ease-out;
				-webkit-transform-origin: left center;
				transform-origin: left center;
				content: 'You Email';
			}
		}
		&:valid {
			&+label {
				&:before {
					background: #fff;
					line-height: 1;
					-webkit-transform: translateY(calc(-23px)) scale(0.8, 0.8);
					transform: translateY(calc(-23px)) scale(0.8, 0.8);
					color: @color_4;
					content: 'You Email';
				}
			}
			border: 1px solid #3eb2cf;
		}
	}
		input.phone[type='text'] {
		background-color: @background_color_4;
		padding: 10px;
		border: 1px solid #888888;
		-webkit-transition: all 0.2s ease-out;
		transition: all 0.2s ease-out;
		-webkit-box-shadow: none;
		box-shadow: none;
		outline: none;
		&:focus {
			border: 1px solid #3eb2cf;
			&+label {
				&:before {
					color: @color_4;
					background: #fff;
					line-height: 1;
					-webkit-transform: translateY(calc(-23px)) scale(0.8, 0.8);
					transform: translateY(calc(-23px)) scale(0.8, 0.8);
				}
			}
		}
		&:active {
			border: 1px solid #3eb2cf;
			&+label {
				&:before {
					color: @color_4;
				}
			}
		}
		&+label {
			display: block;
			margin-top: calc(-30px);
			margin-bottom: 10px;
			pointer-events: none;
			&:before {
				display: inline-block;
				color: @color_8;
				margin: 0 calc(10px);
				white-space: nowrap;
				-webkit-transition-duration: 0.2s;
				transition-duration: 0.2s;
				-webkit-transition-delay: 0;
				transition-delay: 0;
				-webkit-transition-timing-function: ease-out;
				transition-timing-function: ease-out;
				-webkit-transform-origin: left center;
				transform-origin: left center;
				content: 'You Phone';
			}
		}
		&:valid {
			&+label {
				&:before {
					background: #fff;
					line-height: 1;
					-webkit-transform: translateY(calc(-23px)) scale(0.8, 0.8);
					transform: translateY(calc(-23px)) scale(0.8, 0.8);
					color: @color_4;
					content: 'You Phone';
				}
			}
			border: 1px solid #3eb2cf;
		}
	}
	input[type='email'].active {
		&+label {
			&:before {
				background: #fff;
				line-height: 1;
				-webkit-transform: translateY(calc(-23px)) scale(0.8, 0.8);
				transform: translateY(calc(-23px)) scale(0.8, 0.8);
			}
		}
	}
	input[type='text'].active {
		&+label {
			&:before {
				background: #fff;
				line-height: 1;
				-webkit-transform: translateY(calc(-23px)) scale(0.8, 0.8);
				transform: translateY(calc(-23px)) scale(0.8, 0.8);
			}
		}
	}
	textarea.active {
		&+label {
			&:before {
				background: #fff;
				line-height: 1;
				-webkit-transform: translateY(calc(-23px)) scale(0.8, 0.8);
				transform: translateY(calc(-23px)) scale(0.8, 0.8);
			}
		}
	}
	button {
		width: 200px;
		height: 45px;
		border-radius: 30px;
		 margin-top: 80px;
	}
	}

	.side-bar{
		.block-contact{
word-wrap: break-word;
}
.contacts{
	padding-bottom: 50px;
	.fa{
		color: @color_4;
	}
	span{
		color: @color_8;
	}
}
}

	.social-icon-contact {
		.fa {
			border-radius: 50%;
			width: 35px;
			margin: 0 5px 0 5px;
			padding: 10px;
			color: @color_8;
			background-color: @background_color_8;
			-webkit-transition: 300ms;
			transition: 300ms;
			text-align: center;
			&:hover {
				-webkit-transition: 300ms;
				transition: 300ms;
				color: @color_2;
			}
		}
		.fa-facebook {
			&:hover {
				background-color: @background_color_9;
			}
		}
		.fa-twitter {
			&:hover {
				background-color: @background_color_10;
			}
		}
		.fa-google {
			&:hover {
				background: #d95139;
			}
		}
		.fa-instagram {
			&:hover {
				background-image: linear-gradient(-45deg, #ffdc80, #e1306c 50%, #405de6);
				background-repeat: no-repeat;
				filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFDC80', endColorstr='#FF405DE6', GradientType=1);
			}
		}
		a {
			&:hover {
				text-decoration: none;
			}
		}
	}

	/* shop */

	.shop{
		.rating{
			color: @color_3;
		}
		p{
			padding-top: 20px;
			color: @color_8;
		}
		.quantity{
			color: @color_1;
			text-align: center;
			width: 80px;
			height: 50px;
			margin-left: 20px;
		}
		.price{
			font-size: 25px;
			font-weight: bold;
			color: @color_1;
			padding-bottom: 20px;
		}
		.price-old{
color: @color_8;
text-decoration: line-through;
padding-left: 30px;
		}
		button{
			width: 50%;
		}
		.tab-content{
			.description-item{
				color: @color_8;
			}
			td{
				border-top: 2px solid #ddd;
			}
			tr:last-child{
				th{
					border: none;
				}
			}
		}
	}

	.block-comment{
		img{
			width: 80px;
			height: 80px;
		}
		.comment{
padding-left: 30px;
padding-top: 30px;
		}
		.comment-second-level{
			padding-left: 100px;
		}
			.person-name-comment{
				font-size: 20px;
				color: @color_3;
			}
			.txt-comment{
				color: @color_8;
				padding-top: 0;
			}
		}
		.date-comment{
			font-style: italic;
				color: @color_8;
				padding-left: 0;
		}
		.reply-button{
			width: 100px;
			color: @color_3;
			background-color: transparent;
			border: none;
			margin-left: 50px;
			&:hover{
				color: @color_4;
			}
	}

	.card-product{
		border: 1px solid @color_8;
		text-align: center;
		height: 500px;
		transition: 300ms;
		.product-nav{
		button{
			opacity: 0;
			border: none;
			background-color: transparent;
		}
	}
		img{
			width: 100%;
		}
		h5{
			padding-top: 10px;
			padding-bottom: 30px;
			a{
							color: @color_3;
							&:hover{
								color: @color_4;
								text-decoration: none;
							}
			}
		}
		&:hover{
					.product-nav{
					button{
			margin: 30px 0 0 0;
			opacity: 0.5;
			transition: 300ms;
			&:hover{
				color: @color_4;
				opacity: 1;
			}
		}
	}
			height: 550px;
			transition:300ms;
    box-shadow: rgba(0, 0, 0, 0.317647) 0px 2px 14px 0px;
		}
	}